-
	const case01 = {
		preview: {
			title: 'Интернет-магазин итальянской мебели',
			crumb: 'Интернет-магазин итальянской мебели',
			logo: 'case-preview-logo01',
			email: 'mebelgroup.com',
			date: '2020',
			background: 'case-preview-background01',
		},
		task: {
			description: `
			<p>Создание полноценного интернет-магазина и интеграция 1С
			с сохранением в поисковой выдаче</p>`,
			items: [
				`Разработка и создание интернет-магазина для профессиональной студии
				специализирующийся на продаже и доставке настоящей итальянской мебели — как элитной,
				так и среднего класса.`,
				`У компании сеть салонов мебели в Москве и до этого все продажи, в основном,
				велись в оффлайне. <strong>Обновленный сайт позволяет пользователям приобрести
				интересующий их товар в кредит или рассрочку, настроить сложный фильтр каталога
				для более точного поиска мебели.</strong>`,
				`В рамках данного проекта было разработано более 25 уникальных макетов макетов дизайна.
				Проведена интеграция с 1С. Создан отдельный личный кабинет для оптовых покупателей.`,
			],
		},
		step01: {
			title: 'Сохранение позиций',
			description: `
			<p>Основной задачей при разработке проекта стал перенос всей текущей
			информации с сайта и сохранение позиций в поисковой выдаче после реализации,
			что мы успешно осуществили.</p>`,
			image: 'case-step-v1-01',
		},
		step02: {
			title: 'Адаптивная верстка',
			description: `
			<p>Само собой, такой проект должен быть адаптивным.
			В наше время <strong>пользователи посещают сайты с различных устройств</strong>
			(мобильных телефонов, планшетов, ноутбуков) и в каждом случае сайт
			остается легким и удобным.</p>
			<p>В рамках данного проекта было разработано более 25 уникальных макетов макетов дизайна.
			Проведена интеграция с 1С. Создан отдельный личный кабинет для оптовых покупателей.</p>`,
			image: 'case-step-v2-01',
		},
		step03: {
			title: 'Кабинет оптовика',
			description: `
			<p>Отдельный личный кабинет для оптовых покупателей позволяет увидеть измененные цены
			на товары, отследить статус и историю заказов.</p>
			<p>Настроить контактные данные своего салона и подключить его к общей сети.
			Оформить доставку и подписку на интересные рассылки.</p>`,
			image: 'case-step-v3-01',
		},
		step04: {
			title: 'Карточка товара',
			description: `
			<p>Обновленный дизайн карточки товара включает в себя множество нестандартных
			элементов с простой визуализацией, что делает дизайн сайта свежим и интересным.</p>
			<p>Поиск по каталогу и навигация по сайту стала проще и доступнее для пользователей
			незнакомых с интернет пространством.</p>
			<p>В рамках разработки интернет - магазина, компанией «Insky Digital» оказывалась
			постоянная консалтинговая поддержка по вопросам внутренней интеграции и логике
			построения торговой базы.</p>`,
			image: 'case-step-v4-01',
		},
		thanks: {
			title: `Спасибо за внимание!`,
			description: `
			<p>Сделали удобный каталог и навигацию по нему, обновили дизайн карточки товара.
			Провели полную интеграцию с 1С и тем самым автоматизировали часть процессов.</p>
			<p>Создали отдельный от пользователей личный кабинет оптовых покупателей с возможностью
			отслеживания заказов и измененными ценами на товары. Провели тонкую настройку
			и создание сложного фильтра для более точного поиска товара покупателями, а также
			добавили возможность приобретения товаров в кредит и рассрочку.</p>`,
			text: `Таким образом, мы создали современный удобный сайт`,
			email: 'mebelgroup.com',
		},
		another: [
			{
				title: `Custom CRM-system for dental clinics network in Latvia`,
				href: 'index.html',
				logo: 'case-another-logo01',
				background: 'case-another-background01',
			},
			{
				title: `Guided motorcycle tours and offroad training website`,
				href: 'index.html',
				logo: 'case-another-logo02',
				background: 'case-another-background02',
			},
			{
				title: `Mobile App for traffic rules studying`,
				href: 'index.html',
				logo: 'case-another-logo03',
				background: 'case-another-background03',
			},
			{
				title: `Website for the hotel on the coast of the Indian Ocean`,
				href: 'index.html',
				logo: 'case-another-logo04',
				background: 'case-another-background04',
			},
			{
				title: `Crypto currency exchange platform`,
				href: 'index.html',
				logo: 'case-another-logo05',
				background: 'case-another-background05',
			},
			{
				title: `Web App for surveying equipment management`,
				href: 'index.html',
				logo: 'case-another-logo06',
				background: 'case-another-background06',
			},
		],
	};
