extends layout/layout

block const

block meta
	title Insky.digital | 404
	meta(name="description", content="Page not found")
block content
	include modules/not-found/not-found

block prepend page-bottom
