extends layout/layout
include modules/case/case-preview
include modules/case/case-task
include modules/case/case-step
include modules/case/case-thanks
include modules/case/case-another

block const
	include modules/case/case-data

block meta
	title Insky.digital | #{case01.preview.crumb}
	meta(name="description", content=case01.preview.title.crumb)
block content
	+case-preview(case01.preview)
	+case-task(case01.task)
	section.case-steps.section
		div.case-steps__container.container
			ul.case-steps__list
				+step-v1(case01.step01)
				+step-v2(case01.step02)
				+step-v3(case01.step03)
				+step-v4(case01.step04)
	+case-thanks(case01.thanks)
	+case-another(case01.another)
block prepend page-bottom
