extends layout/layout
include modules/page-header

block const

block meta
	title Insky.digital | Contacts
	meta(name="description", content="Contacts")
block content
	+pageHeader('Contacts', 'Contacts')
	include modules/contacts/contacts-map
	include modules/contacts/contacts-info
	include modules/contacts/contacts-form

block prepend page-bottom
