extends layout/layout
include modules/review-open

block const
	- const isHome = true;

block meta
	title Insky.digital
	meta(name="description", content="Main page")
block content
	div.main__background
	include modules/home-preview/home-preview
	include modules/home-projects/home-projects
	include modules/home-services/home-services
	include modules/home-process/home-process
	include modules/home-team/home-team

block prepend page-bottom
