-
	const teamSlides = [
		{
			name: 'Dmitry Kuchinsky',
			status: 'Chief Executive Officer at Insky',
			city: 'Riga',
			specialization: `I believe that the future is digital.
			That is why we have a sense of belonging to every project we work on.`,
			image: 'team-person01',
		},
		{
			name: 'Kristina Sondore',
			status: 'Business analyst',
			city: 'Riga',
			specialization: `We are not just another software development company, we are a family.`,
			image: 'team-person02',
		},
	];
