-
	const teamSlides = [
		{
			name: 'Дмитрий Кучинский',
			status: 'Генеральный директор Insky.digital',
			city: 'Москва',
			specialization: `<b>Специализация:</b> <br>
			Маркетинг, бизнес-аналитика, стратегическое планирование, продажи`,
			image: 'team-person01',
		},
		{
			name: 'Кристина Цыцкина',
			status: 'Бизнес-аналитик Insky.digital',
			city: 'Рига',
			specialization: `<b>Специализация:</b> <br>
			Бизнес-аналитика, ведение проектов, маркетинг`,
			image: 'team-person02',
		},
	];
