include ../social

section.home-team.section#team
	div.home-team__container.container
		div.home-team__wrapper
			div.home-team__top-wrap
				h2.home-team__title.title Team
				p.home-team__description
					| At Insky, we are problem solvers above all and we love
					| new challenges. We evolve together with our clients and partners.
			p.home-team__text
				span 50+
				| professionals in Riga, #[br] Amsterdam and Valencia
			div.home-team__socials.home-team__socials--main
				+social('facebook').home-team__social
				+social('instagram').home-team__social
				+social('telegram').home-team__social
				+social('whatsapp').home-team__social
		include team-slider
		div.home-team__mobile-contacts
			div.home-team__socials.home-team__socials--third
				+social('facebook').home-team__social
				+social('instagram').home-team__social
				+social('telegram').home-team__social
				+social('whatsapp').home-team__social
			+button('Let\'s meet!').home-team__modal-open.recall-open
