.aside {
	@include adaptive("top", 108);
	position: sticky;
	display: flex;
	flex-direction: column;
	align-self: start;
	height: calc(calc(var(--vh) * 100) - calc(132px + (132 * 3 - 132) * ((100vw - 1280px) / (3840 - 1280))));
}
