.button {
	@include adaptive("min-height", 84);
	@include adaptive("padding", 12);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	clip-path: polygon(100% 0, 100% calc(100% - (24px + (24 * 3 - 24) * ((100vw - 1280px) / (3840 - 1280)))), calc(100% - (24px + (24 * 3 - 24) * ((100vw - 1280px) / (3840 - 1280)))) 100%, 0 100%, 0 0);
	border: none;
	font-weight: 500;
	transition: background var(--theme-delay), color var(--theme-delay);

	@media (min-aspect-ratio: 20/9) {
		@include adaptive_2("min-height", 84);
		@include adaptive_2("padding", 12);
		clip-path: polygon(100% 0, 100% calc(100% - (24px + (24 * 2 - 24) * ((100vw - 1280px) / (3840 - 1280)))), calc(100% - (24px + (24 * 3 - 24) * ((100vw - 1280px) / (3840 - 1280)))) 100%, 0 100%, 0 0);
	}
}

.button__line {
	position: absolute;
	transition: background var(--theme-delay);

	&--top {
		@include adaptive("height", 2);
		left: 0;
		top: 0;
		width: 100%;
	}

	&--top-right {
		@include adaptive("width", 2);
		right: 0;
		top: 0;
		height: calc(100% - (24px + (24 * 3 - 24) * ((100vw - 1280px) / (3840 - 1280))));
	}

	&--bottom-right {
		@include adaptive("height", 2);
		@include adaptive("right", -4);
		@include adaptive("bottom", 12);
		@include adaptive("width", 34);
		transform: rotate(-45deg);
	}

	&--bottom {
		@include adaptive("height", 2);
		left: 0;
		bottom: 0;
		width: calc(100% - (24px + (24 * 3 - 24) * ((100vw - 1280px) / (3840 - 1280))));
	}

	&--left {
		@include adaptive("width", 2);
		left: 0;
		top: 0;
		height: 100%;
	}

	@media (min-aspect-ratio: 20/9) {
		&--top {
			@include adaptive_2("height", 2);
		}

		&--top-right {
			@include adaptive_2("width", 2);
			height: calc(100% - (24px + (24 * 2 - 24) * ((100vw - 1280px) / (3840 - 1280))));
		}

		&--bottom-right {
			@include adaptive_2("height", 2);
			@include adaptive_2("right", -4);
			@include adaptive_2("bottom", 12);
			@include adaptive_2("width", 34);
		}

		&--bottom {
			@include adaptive_2("height", 2);
			width: calc(100% - (24px + (24 * 2 - 24) * ((100vw - 1280px) / (3840 - 1280))));
		}

		&--left {
			@include adaptive_2("width", 2);
		}
	}
}

.button--accent {
	color: var(--color-alternate);
	background: var(--color-accent);

	.button__line {
		background: var(--color-accent);
	}

	&:hover,
	&:focus {
		background: var(--color-accent-state);

		.button__line {
			background: var(--color-accent-state);
		}
	}
}

.button--secondary {
	color: var(--color-accent-secondary);
	background: transparent;

	.button__line {
		background: var(--color-accent-secondary);
	}

	&:hover,
	&:focus {
		color: var(--color-accent-secondary-state);

		.button__line {
			background: var(--color-accent-secondary-state);
		}
	}
}
