.case-steps {
	padding: 0;
}

.case-steps__container {
	display: grid;
}

.case-steps__list {
	counter-reset: steps;
	display: grid;

	@media (min-width: 1200px) {
		@include adaptive("grid-row-gap", 60);
	}

	@media (max-width: 1199px) {
		grid-row-gap: 60px;
	}

	@media (max-width: 767px) {
		grid-row-gap: 24px;
	}
}
