.field {
	position: relative;
	display: grid;

	&::before {
		content: "";
		position: absolute;
		width: 100%;
		background: var(--color-field-line);
		transition: background var(--theme-delay);
	}

	&:hover,
	&:focus {
		&::before {
			background: var(--color-alternate);
		}
	}

	@media (min-width: 1200px) {
		&::before {
			@include adaptive("top", 40);
			@include adaptive("height", 1);
			@include adaptive("border-radius", 2);
		}
	}

	@media (max-width: 1199px) {
		&::before {
			top: 40px;
			border-radius: 2px;
			height: 1px;
		}
	}
}

.field__input {
	display: flex;
	outline: none;
	border: none;
	width: 100%;
	color: var(--color-alternate);
	caret-color: var(--color-accent);
	background: transparent;
	transition:
		color var(--theme-delay),
		caret-color var(--theme-delay);

	&::placeholder {
		color: var(--color-field-placeholder);
		transition: color var(--theme-delay);
	}

	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus,
	&:-webkit-autofill:active {
		-webkit-text-fill-color: var(--color-alternate) !important;
		transition: background-color 5000s ease-in-out 0s;
	}

	@media (min-width: 1200px) {
		@include adaptive("margin-bottom", 8);
		@include adaptive("padding-top", 8);
		@include adaptive("padding-bottom", 8);
		@include adaptive("padding-left", 0);
		@include adaptive("padding-right", 0);
		@include adaptive("font-size", 16);
		@include adaptive("height", 40);
		@include adaptive("line-height", 24);
	}

	@media (max-width: 1199px) {
		margin-bottom: 8px;
		padding: 8px 0;
		height: 40px;
		font-size: 16px;
		line-height: 24px;
	}
}

.field__label {
	&--consent {
		position: relative;
		color: var(--color-field-placeholder);
		cursor: pointer;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			border-radius: 50%;
			background: var(--color-field-line);
		}

		&::after {
			content: "";
			position: absolute;
			background-image: url("../images/common/icon-field-check.svg");
			background-size: cover;
			background-repeat: no-repeat;
			opacity: 0;
			transition: opacity var(--theme-delay);
		}

		a {
			position: relative;
			display: inline-block;

			&::before {
				content: "";
				position: absolute;
				left: 0;
				width: 100%;
				background: var(--color-field-placeholder);
				opacity: .6;
				transition: opacity var(--theme-delay);
			}

			&:hover,
			&:focus {
				&::before {
					opacity: 0;
				}
			}
		}
	}

	&--file {
		text-align: center;
		color: var(--color-caption);
		background: var(--color-field-line);
		transition: opacity var(--theme-delay), background var(--theme-delay);
		cursor: pointer;
	}

	@media (min-width: 1200px) {
		&--consent {
			@include adaptive("padding-left", 40);
			@include adaptive("font-size", 12);
			@include adaptive("line-height", 20);

			&::before {
				@include adaptive("width", 24);
				@include adaptive("height", 24);
			}

			&::after {
				@include adaptive("width", 16);
				@include adaptive("height", 16);
				@include adaptive("top", 4);
				@include adaptive("left", 4);
			}

			a {
				&::before {
					@include adaptive("height", 1);
					@include adaptive("bottom", -2);
				}
			}
		}

		&--file {
			@include adaptive("padding", 6);
			@include adaptive("font-size", 12);
			@include adaptive("line-height", 20);
			@include adaptive("border-radius", 20);
		}
	}

	@media (max-width: 1199px) {
		&--consent {
			padding-left: 40px;
			font-size: 12px;
			line-height: 20px;

			&::before {
				width: 24px;
				height: 24px;
			}

			&::after {
				left: 4px;
				top: 4px;
				width: 16px;
				height: 16px;
			}

			a {
				&::before {
					bottom: -2px;
					height: 1px;
				}
			}
		}

		&--file {
			border-radius: 20px;
			padding: 6px;
			font-size: 12px;
			line-height: 20px;
		}
	}
}

.field__error {
	color: var(--color-accent);
	opacity: 0;
	transition: opacity var(--theme-delay);
	pointer-events: none;

	@media (min-width: 1200px) {
		@include adaptive("font-size", 10);
		@include adaptive("line-height", 16);
	}

	@media (max-width: 1199px) {
		font-size: 10px;
		line-height: 16px;
	}
}

.field--consent {
	&::before {
		display: none;
	}

	.field__error {
		position: absolute;
	}

	@media (min-width: 1200px) {
		.field__error {
			@include adaptive("bottom", -20);
		}
	}

	@media (max-width: 1199px) {
		.field__error {
			bottom: -20px;
		}
	}
}

.field input:checked ~ .field__label::after {
	opacity: 1;
}

.field--no-line {
	align-self: start;

	&::before {
		display: none;
	}

	&:hover,
	&:focus {
		.field__label {
			background: var(--color-form-button-background);
		}
	}

	@media (min-width: 1200px) {
		@include adaptive("padding-top", 8);
	}

	@media (max-width: 1199px) {
		padding-top: 8px;
	}
}

.field--hidden {
	opacity: 0;
	pointer-events: none;
}

.field input:checked ~ .field__label::after {
	opacity: 1;
}

.field--error {
	&::before {
		background: var(--color-accent);
	}

	.field__input {
		color: var(--color-accent);

		&::placeholder {
			color: var(--color-accent);
		}
	}

	.field__error {
		opacity: 1;
		pointer-events: visible;
	}

	&:hover,
	&:focus {
		&::before {
			background: var(--color-accent);
		}
	}
}
