.file {
	display: flex;
	opacity: .3;
	transition: opacity var(--theme-delay);

	&:hover,
	&:focus-within {
		opacity: .5;
	}

	@media (min-width: 1200px) {
		@include adaptive("margin-top", 4);
		@include adaptive("margin-left", 10);
		@include adaptive("margin-bottom", 4);
		@include adaptive("margin-right", 10);
	}
}

.file__text {
	color: var(--color-alternate);

	@media (min-width: 1200px) {
		@include adaptive("font-size", 12);
		@include adaptive("line-height", 20);
		@include adaptive("margin-right", 4);
	}
}

.file__close {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	padding: 0;
	background: transparent;
	background-image: url("../images/common/icon-file-close.svg");
	background-size: cover;
	background-repeat: no-repeat;

	@media (min-width: 1200px) {
		@include adaptive("width", 20);
		@include adaptive("height", 20);
	}
}
