.header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%;
	transition: background var(--theme-delay);

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
		width: 100%;
		background: var(--color-header-background);
		transition: opacity var(--theme-delay), background var(--theme-delay);
		pointer-events: none;
	}

	&--menu-open {
		background: var(--color-default-background);

		&::before {
			opacity: 0;
		}
	}

	@media (min-width: 1200px) {
		&::before {
			@include adaptive("height", 160);
		}
	}

	@media (max-width: 1199px) {
		display: none;

		&::before {
			height: 160px;
		}
	}
}

.header__container {
	align-items: center;

	@media (min-width: 1200px) {
		@include grid;
	}

	@media (max-width: 1199px) {
		display: grid;
		grid-column-gap: 20px;
		grid-template-columns: 292px 1fr;
	}
}

.header__right-wrap {
	display: flex;
	align-items: center;
}

.header__main-nav-toggle {
	display: none;
}

.header__logo {
	@media (min-width: 1200px) {
		@include adaptive("margin-right", 20);
	}

	@media (max-width: 1199px) {
		margin-right: 20px;
	}
}

.header__theme-switcher {}

.header__phone-icon {
	display: none;
}

.header__left-wrap {
	display: grid;
	align-items: center;
	grid-template-columns: 1fr max-content max-content;

	@media (min-width: 1200px) {
		@include adaptive("grid-column-gap", 20);
	}

	@media (max-width: 1199px) {
		grid-column-gap: 20px;
	}
}

.header__nav-wrap {}

.header__contacts {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	@media (min-width: 1200px) {
		@include adaptive("margin", -4);
		@include adaptive("margin-right", 16);
	}

	@media (max-width: 1199px) {
		margin: -4px;
		margin-right: 16px;
	}
}

.header__social {
	@media (min-width: 1200px) {
		@include adaptive("margin", 4);
	}

	@media (max-width: 1199px) {
		margin: 4px;
	}
}

.header__phone {
	font-weight: 600;
	transition: color var(--theme-delay);

	&:hover,
	&:focus {
		color: var(--color-accent);
	}

	@media (min-width: 1200px) {
		@include adaptive("margin-left", 16);
	}

	@media (max-width: 1199px) {
		margin-left: 16px;
	}
}

.header__modal-open {
	@media (min-width: 1200px) {
		@include adaptive("min-width", 200);
	}

	@media (max-width: 1199px) {
		min-width: 200px;
	}
}
