.header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%;
	min-width: 320px;
	transition: background var(--theme-delay);

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		z-index: -2;
		width: 100%;
		background: var(--color-header-background);
		transition: opacity var(--theme-delay), background var(--theme-delay);
		pointer-events: none;
	}

	@media (min-width: 1200px) {
		&::before {
			@include adaptive("height", 160);
		}
	}

	@media (max-width: 1199px) {
		&::before {
			height: 160px;
		}
	}
}

.header__container {
	align-items: center;

	@media (min-width: 1200px) {
		@include grid;
	}

	@media (max-width: 1199px) {
		display: grid;
	}
}

.header__right-wrap {
	align-items: center;

	@media (min-width: 1200px) {
		display: flex;
	}

	@media (max-width: 1199px) {
		position: relative;
		z-index: 2;
		display: grid;
		justify-content: space-between;
		grid-column-gap: 20px;
		grid-template-columns: 40px max-content 40px;
	}
}

.header__main-nav-toggle {
	@media (min-width: 1200px) {
		display: none;
	}

	@media (max-width: 1199px) {
		position: relative;
		left: -10px;
		display: flex;
		border: none;
		padding: 0;
		width: 40px;
		height: 40px;
		background: transparent;

		span {
			position: absolute;
			background: var(--color-main);
			transition: all var(--theme-delay);
			pointer-events: none;
		}

		&[aria-expanded="false"] {
			span:nth-child(2),
			span:nth-child(3),
			span:nth-child(4) {
				left: 10px;
				top: 50%;
				height: 2px;
				transform: translateY(-50%);
			}

			span:nth-child(2) {
				margin-top: -8px;
				width: 20px;
			}

			span:nth-child(3) {
				width: 16px;
				transition: width var(--theme-delay);
			}

			span:nth-child(4) {
				margin-top: 8px;
				width: 20px;
			}

			&:hover,
			&:focus {
				span:nth-child(3) {
					width: 20px;
				}
			}
		}

		&[aria-expanded="true"] {
			span:nth-child(2),
			span:nth-child(4) {
				left: 50%;
				top: 50%;
				height: 2px;
			}

			span:nth-child(2) {
				width: 20px;
				transform: translate(-50%, -50%) rotate(45deg);
			}

			span:nth-child(4) {
				width: 20px;
				transform: translate(-50%, -50%) rotate(-45deg);
			}
		}
	}
}

.header__logo {
	@media (min-width: 1200px) {
		@include adaptive("margin-right", 20);
	}

	@media (max-width: 1199px) {
		grid-template-columns: 1fr;
		padding-bottom: 4px;

		.logo__image {
			margin: 0 0 4px;
			width: 60px;
			height: 60px;
		}

		.logo__text {
			font-size: 10px;
			line-height: 12px;
			text-align: center;
		}
	}
}

.header__theme-switcher {
	@media (max-width: 1199px) {
		justify-self: end;
		grid-column: 3/4;
		grid-row: 1/2;
		opacity: 0;
		transition: opacity var(--theme-delay);
		pointer-events: none;
	}
}

.header__phone-icon {
	@media (min-width: 1200px) {
		display: none;
	}

	@media (max-width: 1199px) {
		position: relative;
		right: -12px;
		display: flex;
		align-items: center;
		justify-content: center;
		grid-column: 3/4;
		grid-row: 1/2;
		width: 40px;
		height: 40px;
		opacity: 1;
		transition: opacity var(--theme-delay);
		pointer-events: visible;

		svg {
			fill: none;
			stroke: var(--color-main);
		}
	}
}

.header__left-wrap {
	display: grid;
	align-items: center;
	grid-template-columns: 1fr max-content max-content;

	@media (min-width: 1200px) {
		@include adaptive("grid-column-gap", 20);
	}

	@media (max-width: 1199px) {
		position: absolute;
		left: 0;
		top: 80px;
		z-index: 1;
		display: grid;
		width: 100%;
		height: calc(calc(var(--vh) * 100) - 80px);
		opacity: 0;
		transition: opacity var(--theme-delay2);
		pointer-events: none;

		&--opened {
			opacity: 1;
			pointer-events: visible;
		}
	}
}

.header__nav {
	@media (max-width: 1199px) {
		position: absolute;
		left: 0;
		top: 0;
		background: var(--color-default-background);
		transition: background var(--theme-delay);
	}
}

.header__contacts {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	@media (min-width: 1200px) {
		@include adaptive("margin", -4);
		@include adaptive("margin-right", 4);
	}

	@media (max-width: 1199px) {
		display: none;
	}
}

.header__social {
	@media (min-width: 1200px) {
		@include adaptive("margin", 4);
	}
}

.header__phone {
	font-weight: 600;
	transition: color var(--theme-delay);

	&:hover,
	&:focus {
		color: var(--color-accent);
	}

	@media (min-width: 1200px) {
		@include adaptive("margin-left", 16);
	}

	@media (max-width: 1199px) {
		display: none;
	}
}

.header__modal-open {
	@media (min-width: 1200px) {
		@include adaptive("min-width", 200);
	}

	@media (max-width: 1199px) {
		display: none;
	}
}

.header--menu-opened {
	background: var(--color-default-background);

	&::before {
		opacity: 0;
	}

	.header__theme-switcher {
		opacity: 1;
		pointer-events: visible;
	}

	.header__phone-icon {
		opacity: 0;
		pointer-events: none;
	}
}
