.header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%;
	transition: background var(--theme-delay);

	&::before {
		@include adaptive("height", 160);
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
		width: 100%;
		background: var(--color-header-background);
		transition: opacity var(--theme-delay), background var(--theme-delay);
		pointer-events: none;
	}

	&--menu-open {
		background: var(--color-default-background);

		&::before {
			opacity: 0;
		}
	}

	@media (min-aspect-ratio: 20/9) {
		&::before {
			@include adaptive_2("height", 160);
		}
	}
}

.header__container {
	@include grid;
	align-items: center;

	@media (min-aspect-ratio: 20/9) {
		@include grid_2;
	}
}

.header__right-wrap {
	display: flex;
	align-items: center;
}

.header__main-nav-toggle {
	display: none;
}

.header__logo {
	@include adaptive("margin-right", 20);

	@media (min-aspect-ratio: 20/9) {
		@include adaptive_2("margin-right", 20);
	}
}

.header__theme-switcher {}

.header__phone-icon {
	display: none;
}

.header__left-wrap {
	@include adaptive("grid-column-gap", 20);
	display: grid;
	align-items: center;
	grid-template-columns: 1fr max-content max-content;

	@media (min-aspect-ratio: 20/9) {
		@include adaptive_2("grid-column-gap", 20);
	}
}

.header__nav-wrap {}

.header__contacts {
	@include adaptive("margin", -4);
	@include adaptive("margin-right", 16);
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	@media (min-aspect-ratio: 20/9) {
		@include adaptive_2("margin", -4);
		@include adaptive_2("margin-right", 16);
	}
}

.header__social {
	@include adaptive("margin", 4);

	@media (min-aspect-ratio: 20/9) {
		@include adaptive_2("margin", 4);
	}
}

.header__phone {
	@include adaptive("margin-left", 16);
	font-weight: 600;
	transition: color var(--theme-delay);

	&:hover,
	&:focus {
		color: var(--color-accent);
	}

	@media (min-aspect-ratio: 20/9) {
		@include adaptive_2("margin-left", 16);
	}
}

.header__modal-open {
	@include adaptive("min-width", 200);

	@media (min-aspect-ratio: 20/9) {
		@include adaptive_2("min-width", 200);
	}
}
