.home-projects {}

.home-projects__container {
	@include grid;
}

.home-projects__aside {}

.home-projects__title {
	@include adaptive("margin-bottom", 32);
}

.home-projects__types {
	@include adaptive("margin", -4);
	display: flex;
	flex-wrap: wrap;
	margin-bottom: auto;
}

.home-projects__type {
	@include adaptive("margin", 4);
}

.home-projects__portfolio-open {
	@include adaptive("margin-top", 24);
	@include adaptive("min-width", 260);
	align-self: start;
}

.home-projects__cards {
	@include adaptive("grid-gap", 20);
	display: grid;
	align-self: start;
	grid-template-columns: repeat(3, 1fr);
}

.home-projects__card {
	position: relative;
	padding-bottom: 126.03%;
	height: 0;
}

.home-projects__mobile-portfolio-open {
	display: none;
}
