.home-team {}

.home-team__container {
	@include grid;
}

.home-team__wrapper {
	@include adaptive("grid-row-gap", 20);
	display: grid;
	grid-template-rows: repeat(3, 1fr);
}

.home-team__top-wrap {}

.home-team__title {
	@include adaptive("margin-bottom", 24);
}

.home-team__description {
	align-self: start;
	margin: 0;
	transition: color var(--theme-delay);
}

.home-team__text {
	display: grid;
	align-self: center;
	margin: 0;
	transition: color var(--theme-delay);

	span {
		@include adaptive("font-size", 48);
		@include adaptive("line-height", 56);
	}
}

.home-team__socials {
	@include adaptive("margin", -8);
	display: flex;
	flex-wrap: wrap;
	align-self: end;
}

.home-team__social {
	@include adaptive("margin", 8);
}
