.home-process {}

.home-process__container {
	@media (min-width: 1200px) {
		@include grid;
	}

	@media (max-width: 1199px) {
		display: grid;
		grid-column-gap: 20px;
		grid-template-columns: 292px 1fr;
	}

	@media (max-width: 991px) {
		grid-template-columns: 1fr;
	}
}

.home-process__aside {}

.home-process__title {
	margin: 0 0 auto;

	@media (max-width: 991px) {
		margin: 0 0 40px;
	}
}

.home-process__modal-open {
	align-self: start;

	@media (min-width: 1200px) {
		@include adaptive("min-width", 260);
	}

	@media (max-width: 1199px) {
		min-width: 260px;
	}

	@media (min-width: 992px) {
		&--secondary {
			display: none;
		}
	}

	@media (max-width: 991px) {
		&--main {
			display: none;
		}
	}
}

.home-process__steps {
	counter-reset: cards;
	display: grid;
	align-self: start;
	transition: border-bottom var(--theme-delay);

	@media (min-width: 1200px) {
		border-bottom: calc(1px + (1 * 3 - 1) * ((100vw - 1280px) / (3840 - 1280))) solid var(--color-decor);

		@media (min-aspect-ratio: 20/9) {
			border-bottom: calc(1px + (1 * 2 - 1) * ((100vw - 1280px) / (3840 - 1280))) solid var(--color-decor);
		}
	}

	@media (max-width: 1199px) {
		border-bottom: 1px solid var(--color-decor);
	}

	@media (max-width: 991px) {
		margin: 0 0 40px;
	}
}

.home-process__step {
	position: relative;
	display: grid;
	overflow: hidden;
	transition: border-top var(--theme-delay);

	&::before {
		counter-increment: cards;
		content: counters(cards, "") ".";
		position: absolute;
		color: var(--color-secondary);
		transition: transform var(--theme-delay), color var(--theme-delay);
		pointer-events: none;
	}

	@media (min-width: 1200px) {
		border-top: calc(1px + (1 * 3 - 1) * ((100vw - 1280px) / (3840 - 1280))) solid var(--color-decor);

		&::before {
			@include adaptive("top", 32);
			@include adaptive("left", 8);
			@include adaptive("width", 40);
			@include adaptive("font-size", 24);
			@include adaptive("line-height", 32);
		}

		@media (min-aspect-ratio: 20/9) {
			border-top: calc(1px + (1 * 2 - 1) * ((100vw - 1280px) / (3840 - 1280))) solid var(--color-decor);
		}
	}

	@media (max-width: 1199px) {
		border-top: 1px solid var(--color-decor);

		&::before {
			left: 8px;
			top: 32px;
			width: 40px;
			font-size: 24px;
			line-height: 32px;
		}
	}

	@media (max-width: 719px) {
		&::before {
			top: 24px;
		}
	}

	@media (max-width: 599px) {
		&::before {
			top: 24px;
			font-size: 16px;
			line-height: 24px;
		}
	}
}

.home-process__toggle {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: none;
	background: transparent;

	span {
		color: var(--color-secondary);
		transition: color var(--theme-delay);
		pointer-events: none;
	}

	svg {
		fill: none;
		stroke: var(--color-decor);
		transition: transform var(--theme-delay), stroke var(--theme-delay);
	}

	@media (min-width: 1200px) {
		@include adaptive("padding", 32);

		span {
			@include adaptive("padding-left", 24);
			@include adaptive("font-size", 24);
			@include adaptive("line-height", 32);
		}

		svg {
			@include adaptive("width", 32);
			@include adaptive("height", 32);
		}
	}

	@media (max-width: 1199px) {
		padding: 32px;

		span {
			padding-left: 24px;
			font-size: 24px;
			line-height: 32px;
		}

		svg {
			width: 32px;
			height: 32px;
		}
	}

	@media (max-width: 719px) {
		padding: 24px 20px;
	}

	@media (max-width: 599px) {
		padding: 24px 0 24px 16px;

		span {
			padding-left: 16px;
			font-size: 16px;
			line-height: 24px;
		}

		svg {
			width: 24px;
			height: 24px;
		}
	}
}

.home-process__text {
	overflow: hidden;
	height: 0;
	opacity: 0;
	transition:
		height var(--theme-delay),
		opacity var(--theme-delay),
		margin-bottom var(--theme-delay);

	p {
		margin: 0;
		transition: color var(--theme-delay);
	}

	@media (min-width: 1200px) {
		@include adaptive("padding-left", 56);
		@include adaptive("padding-right", 64);

		p {
			@include adaptive("line-height", 32);
		}
	}

	@media (max-width: 1199px) {
		padding-right: 64px;
		padding-left: 56px;

		p {
			line-height: 32px;
		}
	}

	@media (max-width: 719px) {
		padding-right: 52px;
		padding-left: 44px;
	}

	@media (max-width: 599px) {
		padding-right: 0;
		padding-left: 0;

		p {
			font-size: 12px;
			line-height: 28px;
		}
	}
}

.home-process__step--active {
	&::before {
		color: var(--color-main);
	}

	.home-process__toggle {
		span {
			color: var(--color-main);
		}

		svg {
			stroke: var(--color-main);
			transform: rotate(-180deg);
		}
	}

	.home-process__text {
		height: inherit;
		opacity: 1;
	}

	@media (min-width: 1200px) {
		.home-process__text {
			@include adaptive("margin-bottom", 32);
		}
	}

	@media (max-width: 1199px) {
		.home-process__text {
			margin-bottom: 32px;
		}
	}

	@media (max-width: 719px) {
		.home-process__text {
			margin-bottom: 24px;
		}
	}
}

.home-process__step:hover,
.home-process__step:focus-within {
	&::before {
		color: var(--color-main);
	}

	.home-process__toggle {
		span {
			color: var(--color-main);
		}

		svg {
			stroke: var(--color-main);
		}
	}
}
