.home-process {

}

.home-process__container {
	@include grid;
}
.home-process__aside {}

.home-process__title {
	margin: 0 0 auto;
}

.home-process__modal-open {
	@include adaptive("min-width", 260);
	align-self: start;
}

.home-process__steps {
	counter-reset: cards;
	display: grid;
	align-self: start;
	border-bottom: calc(1px + (1 * 2 - 1) * ((100vw - 1280px) / (3840 - 1280))) solid var(--color-decor);
	transition: border-bottom var(--theme-delay);
}

.home-process__step {
	position: relative;
	display: grid;
	overflow: hidden;
	border-top: calc(1px + (1 * 2 - 1) * ((100vw - 1280px) / (3840 - 1280))) solid var(--color-decor);
	transition: border-top var(--theme-delay);

	&::before {
		@include adaptive("top", 32);
		@include adaptive("left", 8);
		@include adaptive("width", 40);
		@include adaptive("font-size", 24);
		@include adaptive("line-height", 32);
		counter-increment: cards;
		content: counters(cards, "") ".";
		position: absolute;
		color: var(--color-secondary);
		transition: transform var(--theme-delay), color var(--theme-delay);
		pointer-events: none;
	}
}

.home-process__toggle {
	@include adaptive("padding", 32);
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: none;
	background: transparent;

	span {
		@include adaptive("padding-left", 24);
		@include adaptive("font-size", 24);
		@include adaptive("line-height", 32);
		color: var(--color-secondary);
		transition: color var(--theme-delay);
		pointer-events: none;
	}

	svg {
		@include adaptive("width", 32);
		@include adaptive("height", 32);
		fill: none;
		stroke: var(--color-decor);
		transition: transform var(--theme-delay), stroke var(--theme-delay);
	}
}

.home-process__text {
	overflow: hidden;
	height: 0;
	opacity: 0;
	transition:
		height var(--theme-delay),
		opacity var(--theme-delay),
		margin-bottom var(--theme-delay);

	p {
		@include adaptive("line-height", 32);
		margin: 0;
		transition: color var(--theme-delay);
	}
}

.home-process__step--active {
	&::before {
		color: var(--color-main);
	}

	.home-process__toggle {
		span {
			color: var(--color-main);
		}

		svg {
			stroke: var(--color-main);
			transform: rotate(-180deg);
		}
	}

	.home-process__text {
		@include adaptive("margin-bottom", 32);
		height: inherit;
		opacity: 1;
	}
}

.home-process__step:hover,
.home-process__step:focus-within {
	&::before {
		color: var(--color-main);
	}

	.home-process__toggle {
		span {
			color: var(--color-main);
		}

		svg {
			stroke: var(--color-main);
		}
	}
}
