.home-team {}

.home-team__container {
	@media (min-width: 1200px) {
		@include grid;
	}

	@media (max-width: 1199px) {
		display: grid;
		grid-template-columns: 20px;
		grid-template-columns: 292px 1fr;
	}

	@media (max-width: 991px) {
		grid-template-columns: 1fr;
	}
}

.home-team__wrapper {
	display: grid;
	grid-template-rows: repeat(3, 1fr);

	@media (min-width: 1200px) {
		@include adaptive("grid-row-gap", 20);
	}

	@media (max-width: 1199px) {
		grid-row-gap: 20px;
	}

	@media (max-width: 991px) {
		grid-gap: 40px 20px;
		grid-template-columns: 1fr 292px;
		grid-template-rows: initial;
		margin: 0 0 40px;
	}

	@media (max-width: 719px) {
		grid-template-columns: 1fr;
	}
}

.home-team__slider {
	@media (max-width: 719px) {
		margin: 0 0 20px;
	}
}

.home-team__top-wrap {}

.home-team__title {
	@media (min-width: 1200px) {
		@include adaptive("margin-bottom", 24);
	}

	@media (max-width: 1199px) {
		margin-bottom: 40px;
	}

	@media (max-width: 991px) {
		margin-bottom: 20px;
	}
}

.home-team__description {
	align-self: start;
	margin: 0;
	transition: color var(--theme-delay);
}

.home-team__text {
	display: grid;
	align-self: center;
	margin: 0;
	transition: color var(--theme-delay);

	span {
		font-weight: 500;
	}

	@media (min-width: 1200px) {
		span {
			@include adaptive("font-size", 48);
			@include adaptive("line-height", 56);
		}
	}

	@media (max-width: 1199px) {
		span {
			font-size: 48px;
			line-height: 56px;
		}
	}

	@media (max-width: 719px) {
		align-self: start;

		span {
			margin-bottom: 20px;
		}
	}

	@media (max-width: 719px) {
		align-items: center;
		grid-column-gap: 16px;
		grid-template-columns: max-content 1fr;

		span {
			margin: 0;
			font-size: 24px;
			line-height: 32px;
		}
	}
}

.home-team__socials {
	display: flex;
	flex-wrap: wrap;
	align-self: end;

	@media (min-width: 1200px) {
		@include adaptive("margin", -8);
	}

	@media (max-width: 1199px) {
		margin: -8px;
	}

	@media (min-width: 992px) {
		&--secondary {
			display: none;
		}

		&--third {
			display: none;
		}
	}

	@media (max-width: 991px) {
		margin: 0 0 20px;

		&--main {
			display: none;
		}
	}

	@media (min-width: 720px) {
		&--third {
			display: none;
		}
	}

	@media (max-width: 719px) {
		&--secondary {
			display: none;
		}
	}
}

.home-team__social {
	@media (min-width: 1200px) {
		@include adaptive("margin", 8);
	}

	@media (max-width: 1199px) {
		margin: 8px;
	}
}

.home-team__mobile-contacts {
	@media (max-width: 719px) {
		display: grid;
	}
}

.home-team__modal-open {
	@media (min-width: 720px) {
		display: none;
	}

	@media (max-width: 719px) {
		pointer-events: visible;
	}
}
