.logo {
	display: grid;
	align-items: center;
	grid-template-columns: repeat(2, max-content);

	@media (max-width: 1199px) {
		grid-column-gap: 20px;
	}

	@media (min-width: 1200px) {
		@include adaptive("grid-column-gap", 20);
	}
}

.logo__image {
	@media (max-width: 1199px) {
		width: 84px;
		height: 84px;
	}

	@media (min-width: 1200px) {
		@include adaptive("width", 84);
		@include adaptive("height", 84);
	}
}

.logo__text {
	font-weight: 500;
	transition: color var(--theme-delay);
	cursor: default;
}

.logo[href] {
	.logo__text {
		cursor: pointer;
	}
}
