.menu-small {
	@media (min-width: 1200px) {
		@include adaptive("top", 54);
		@include adaptive("border-radius", 2);

		@media (min-aspect-ratio: 20/9) {
			&.menu--opened {
				box-shadow:
					0
					calc(22px + (22 * 2 - 22) * ((100vw - 1280px) / (3840 - 1280)))
					calc(30px + (30 * 2 - 30) * ((100vw - 1280px) / (3840 - 1280)))
					rgb(0 0 0 / .06);
			}
		}
	}

	@media (max-width: 1199px) {
	}
}

.menu-small__list {
	@media (min-width: 1200px) {
		@include adaptive("padding", 24);
		@include adaptive("grid-row-gap", 24);
	}

	@media (max-width: 1199px) {
		grid-row-gap: 12px;
		padding-top: 20px;
	}
}

.menu-small__item {
	display: flex;
}

.menu-small__link {
	transition: color var(--theme-delay2);

	&:hover,
	&:focus {
		color: var(--color-accent);
	}

	@media (min-width: 1200px) {
		@include adaptive("line-height", 20);
		@include adaptive("font-size", 12);
		font-weight: 500;
	}

	@media (max-width: 1199px) {
		padding: 6px 0;
		font-size: 16px;
		line-height: 24px;
	}
}
