.menu-big {
	@include adaptive("top", 84);
	@include adaptive("padding-top", 24);
	@include adaptive("padding-bottom", 24);
	width: 100%;

	&.menu--opened {
		box-shadow:
			0
			calc(112px + (112 * 3 - 112) * ((100vw - 1280px) / (3840 - 1280)))
			calc(184px + (184 * 3 - 184) * ((100vw - 1280px) / (3840 - 1280)))
			rgba(0, 0, 0, .04);
	}
}

.menu-big__container {
	@include adaptive("grid-gap", 20);
	justify-content: center;
	grid-auto-flow: column;
}

.menu-big__wrapper {
	@include adaptive("width", 188);
	display: grid;
	align-content: start;
}

.menu-big__title {
	@include adaptive("font-size", 12);
	@include adaptive("line-height", 20);
	@include adaptive("min-height", 40);
	margin: 0 0 calc(20px + (20 * 3 - 20) * ((100vw - 1280px) / (3840 - 1280)));
	font-weight: 500;
	transition: color var(--theme-delay);
}

.menu-big__list {
	@include adaptive("grid-row-gap", 12);
	display: grid;
}

.menu-big__item {
	display: grid;
	justify-items: start;
}

.menu-big__link {
	@include adaptive("font-size", 12);
	@include adaptive("line-height", 20);
	transition: color var(--theme-delay2);

	&:hover,
	&:focus {
		color: var(--color-accent);
	}
}
