.menu {
	@media (min-width: 1200px) {
		position: absolute;
		left: 0;
		z-index: -2;
		display: grid;
		background: var(--color-default-background);
		opacity: 0;
		transform: translateY(-100%);
		transition: background var(--theme-delay), box-shadow var(--theme-delay), transform var(--theme-delay), opacity var(--theme-delay);

		&--opened {
			z-index: 0;
			opacity: 1;
			transform: translateY(0%);
			transition: background var(--theme-delay), box-shadow var(--theme-delay), transform var(--theme-delay), opacity var(--theme-delay), z-index .6s;

			&::before {
				@include adaptive("height", 30);
				@include adaptive("top", -30);
				content: "";
				position: absolute;
				left: 0;
				width: 100%;
			}
		}
	}

	@media (max-width: 1199px) {
		display: none;

		&--opened {
			position: relative;
			display: grid;
			grid-column: 1/-1;
			grid-row: 2/3;
		}
	}
}

.menu__container {
	@media (min-width: 1200px) {
		display: grid;
		opacity: 0;

		&--visible {
			opacity: 1;
			transition: opacity var(--theme-delay);
			transition-delay: .1s;
		}
	}
}
