.menu-big {
	width: 100%;

	@media (min-width: 1200px) {
		@include adaptive("top", 84);
		@include adaptive("padding-top", 24);
		@include adaptive("padding-bottom", 24);

		&.menu--opened {
			box-shadow:
				0
				calc(112px + (112 * 3 - 112) * ((100vw - 1280px) / (3840 - 1280)))
				calc(184px + (184 * 3 - 184) * ((100vw - 1280px) / (3840 - 1280)))
				rgba(0, 0, 0, .04);
		}

		@media (min-aspect-ratio: 20/9) {
			&.menu--opened {
				box-shadow:
					0
					calc(112px + (112 * 2 - 112) * ((100vw - 1280px) / (3840 - 1280)))
					calc(184px + (184 * 2 - 184) * ((100vw - 1280px) / (3840 - 1280)))
					rgba(0, 0, 0, .04);
			}
		}
	}

	@media (max-width: 1199px) {
		padding-top: 24px;
	}
}

.menu-big__container {
	@media (min-width: 1200px) {
		@include adaptive("grid-gap", 20);
		justify-content: center;
		grid-auto-flow: column;
	}

	@media (max-width: 1199px) {
		display: grid;
		grid-gap: 32px;
		padding: 0;
	}
}

.menu-big__wrapper {
	display: grid;
	align-content: start;

	@media (min-width: 1200px) {
		@include adaptive("width", 188);
	}
}

.menu-big__title {
	font-weight: 500;
	transition: color var(--theme-delay);

	@media (min-width: 1200px) {
		@include adaptive("font-size", 12);
		@include adaptive("line-height", 20);
		margin: 0 0 calc(20px + (20 * 3 - 20) * ((100vw - 1280px) / (3840 - 1280)));

		@media (min-aspect-ratio: 20/9) {
			margin: 0 0 calc(20px + (20 * 2 - 20) * ((100vw - 1280px) / (3840 - 1280)));
		}
	}

	@media (max-width: 1199px) {
		margin: 0 0 20px;
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;
	}
}

.menu-big__list {
	display: grid;

	@media (min-width: 1200px) {
		@include adaptive("grid-row-gap", 12);
	}

	@media (max-width: 1199px) {
		grid-row-gap: 12px;
	}
}

.menu-big__item {
	display: grid;
	justify-items: start;
}

.menu-big__link {
	transition: color var(--theme-delay2);

	&:hover,
	&:focus {
		color: var(--color-accent);
	}

	@media (min-width: 1200px) {
		@include adaptive("font-size", 12);
		@include adaptive("line-height", 20);
	}

	@media (max-width: 1199px) {
		padding: 6px 0;
		font-size: 16px;
		line-height: 24px;
	}
}
