.menu {
	position: absolute;
	left: 0;
	z-index: -2;
	display: grid;
	background: var(--color-default-background);
	opacity: 0;
	transform: translateY(-100%);
	transition: background .15s, box-shadow .15s, transform .15s, opacity .15s;

	&--opened {
		z-index: 0;
		opacity: 1;
		transform: translateY(0%);
		transition: background .15s, box-shadow .15s, transform .15s, opacity .15s, z-index .6s;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			width: 100%;
		}
	}

	@media (min-width: 1200px) {
		&--opened {
			&::before {
				@include adaptive("height", 30);
				@include adaptive("top", -30);
			}
		}
	}

	@media (max-width: 1199px) {
		&--opened {
			&::before {
				top: -30px;
				height: 30px;
			}
		}
	}
}

.menu__container {
	display: grid;
	opacity: 0;
	transition: opacity .15s;

	&--visible {
		opacity: 1;
	}
}
