.modal-success {
	display: grid;
}

.modal-success__title {
	@media (min-width: 1200px) {
		@include adaptive("margin-bottom", 16);
	}

	@media (max-width: 1199px) {
		margin-bottom: 16px;
	}
}

.modal-success__text {
	margin: 0;
	text-align: center;

	@media (min-width: 1200px) {
		@include adaptive("font-size", 16);
		@include adaptive("line-height", 24);
	}

	@media (max-width: 1199px) {
		font-size: 16px;
		line-height: 24px;
	}
}

.modal-success__icon {
	position: relative;
	justify-self: center;
	order: -1;
	border-radius: 50%;
	background-color: var(--color-success);

	&::before {
		content: "";
		position: absolute;
		left: 50%;
		top: 50%;
		background-image: url("../images/common/icon-success-check.svg");
		background-size: cover;
		background-repeat: no-repeat;
		transform: translate(-50%, -50%);
	}

	@media (min-width: 1200px) {
		@include adaptive("width", 120);
		@include adaptive("height", 120);
		@include adaptive("margin-bottom", 40);

		&::before {
			@include adaptive("width", 60);
			@include adaptive("height", 60);
		}
	}

	@media (max-width: 1199px) {
		margin-bottom: 40px;
		width: 120px;
		height: 120px;

		&::before {
			width: 60px;
			height: 60px;
		}
	}
}
