.modal {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 50;
	z-index: -100;
	overflow: auto;
	width: 100%;
	height: calc(var(--vh) * 100);
	max-height: 100%;
	opacity: 0;
	transform: translateY(10%);
	pointer-events: none;

	&::-webkit-scrollbar {
		@media (max-width: 1199px) {
			width: 0;
			height: 0;
		}
	}

	&::-webkit-scrollbar-thumb {
		@media (max-width: 1199px) {
			width: 0;
			height: 0;
		}
	}

	&--opened {
		z-index: 50;
		opacity: 1;
		transform: translateY(0);
		transition: opacity var(--theme-delay), transform var(--theme-delay);
		pointer-events: visible;
	}

	@media (min-width: 1200px) {
		@include adaptive("padding", 40);
	}

	@media (max-width: 1199px) {
		padding: 40px;
	}

	@media (max-width: 599px) {
		padding: 0;
		transform: translateY(0);
	}
}

.modal__container {
	position: relative;
	display: grid;
	align-items: center;
	justify-items: center;
	margin: 0 auto;
	min-height: 100%;
	background: var(--color-form-background);

	@media (min-width: 1200px) {
		@include adaptive("max-width", 1200);
	}

	@media (max-width: 1199px) {
		padding-top: 40px;
		max-width: 1200px;
	}
}

.modal__close {
	position: absolute;
	right: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	padding: 0;
	background: var(--color-form-button-background);
	transition: background var(--theme-delay);

	svg {
		stroke: var(--color-alternate);
		transition: stroke var(--theme-delay);
	}

	&:hover,
	&:focus {
		background: transparent;

		svg {
			stroke: var(--color-accent);
		}
	}

	@media (min-width: 1200px) {
		@include adaptive("width", 84);
		@include adaptive("height", 84);

		svg {
			@include adaptive("width", 20);
			@include adaptive("height", 20);
		}
	}

	@media (max-width: 1199px) {
		width: 40px;
		height: 40px;

		svg {
			width: 12px;
			height: 12px;
		}
	}
}

.modal__content {
	position: absolute;
	z-index: -100;
	display: none;
	grid-column: 1/2;
	grid-row: 1/2;
	width: 100%;
	opacity: 0;
	transition: opacity var(--theme-delay);
	pointer-events: none;

	&--opened {
		position: relative;
		z-index: 0;
		display: grid;
		opacity: 1;
		pointer-events: visible;
	}

	@media (min-width: 1200px) {
		@include adaptive("max-width", 840);
		@include adaptive("padding", 40);
	}

	@media (max-width: 1199px) {
		padding: 40px;
		max-width: 840px;
	}

	@media (max-width: 599px) {
		padding: 20px;
	}
}

.modal__title {
	margin: 0;
	font-weight: 600;
	text-align: center;
	color: var(--color-alternate);

	@media (min-width: 1200px) {
		@include adaptive("font-size", 48);
		@include adaptive("line-height", 56);
	}

	@media (max-width: 1199px) {
		font-size: 48px;
		line-height: 56px;
	}

	@media (max-width: 991px) {
		font-size: 36px;
		line-height: 44px;
	}

	@media (max-width: 719px) {
		font-size: 32px;
		line-height: 40px;
	}

	@media (max-width: 599px) {
		font-size: 24px;
		line-height: 32px;
	}
}

.modal__wrapper {
	display: grid;
	align-items: center;
	grid-column: 1/-1;
	grid-template-columns: 1fr 1fr;

	@media (min-width: 1200px) {
		@include adaptive("grid-column-gap", 20);
	}

	@media (max-width: 1199px) {
		grid-column-gap: 20px;
	}
}

.modal__consent {
	@media (max-width: 719px) {
		grid-column: 1/-1;
		margin: 0 0 40px;
	}
}

.modal__submit {
	justify-self: end;

	@media (min-width: 1200px) {
		@include adaptive("min-width", 240);
	}

	@media (max-width: 1199px) {
		min-width: 240px;
	}

	@media (max-width: 719px) {
		grid-column: 1/-1;
		width: 100%;
	}
}
