.nav-arrow {
	@include adaptive("height", 16);
	border: none;
	padding: 0;
	width: 100%;
	background: transparent;

	svg {
		@include adaptive("width", 16);
		@include adaptive("height", 16);
		fill: none;
		stroke: var(--color-main);
		transition: stroke var(--theme-delay), transform var(--theme-delay);
	}
}
