.nav-arrow {
	border: none;
	padding: 0;
	width: 100%;
	background: transparent;

	svg {
		fill: none;
		stroke: var(--color-main);
		transition:
			stroke var(--theme-delay),
			transform var(--theme-delay);
	}

	@media (min-width: 1200px) {
		@include adaptive("height", 16);

		svg {
			@include adaptive("width", 16);
			@include adaptive("height", 16);
		}
	}

	@media (max-width: 1199px) {
		width: 32px;
		height: 32px;

		svg {
			width: 32px;
			height: 32px;
		}
	}
}
