.page {
	@include adaptive("scroll-padding-top", 84);
}

.page__body {
	@include adaptive("font-size", 16);
	@include adaptive("line-height", 24);
	overflow-anchor: none;
	min-width: 320px;
	min-height: calc(var(--vh) * 100);
	font-family: "GraphikLCG", arial, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: var(--color-main);
	background-color: var(--color-default-background);
}

.page__wrapper {
	display: flex;
	flex-direction: column;
}
