.page {
	@include adaptive("scroll-padding-top", 84);

	@media (min-aspect-ratio: 20/9) {
		@include adaptive_2("scroll-padding-top", 84);
	}
}

.page__body {
	@include adaptive("font-size", 16);
	@include adaptive("line-height", 24);
	overflow-anchor: none;
	min-width: 320px;
	min-height: calc(var(--vh) * 100);
	font-family: "GraphikLCG", arial, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: var(--color-main);
	background: var(--color-default-background);
	transition: background var(--theme-delay);

	@media (min-aspect-ratio: 20/9) {
		@include adaptive_2("font-size", 16);
		@include adaptive_2("line-height", 24);
	}
}

.page__wrapper {
	display: flex;
	flex-direction: column;
}
