.review-open {
	display: flex;
	align-items: center;
	cursor: pointer;

	@media (max-width: 479px) {
		justify-content: space-between;
	}
}

.review-open__picture {
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	pointer-events: none;

	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background: var(--color-review-gradient);
	}

	&::after {
		content: "";
		position: absolute;
		background-image: url("../images/common/icon-play.svg");
		background-size: cover;
		background-repeat: no-repeat;
	}

	@media (min-width: 1200px) {
		@include adaptive("width", 84);
		@include adaptive("height", 84);
		@include adaptive("margin-right", 20);

		&::after {
			@include adaptive("width", 20);
			@include adaptive("height", 20);
		}
	}

	@media (max-width: 1199px) {
		margin-right: 20px;
		width: 84px;
		height: 84px;

		&::after {
			width: 20px;
			height: 20px;
		}
	}

	@media (max-width: 479px) {
		order: 1;
		margin-right: 0;
		width: 64px;
		height: 64px;
	}
}

.review-open__text {
	display: grid;
	justify-items: start;
	pointer-events: none;

	b {
		position: relative;
		transition: color var(--theme-delay);

		&::before {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			background: var(--color-accent);
		}
	}

	@media (min-width: 1200px) {
		b {
			&::before {
				@include adaptive("height", 1);
			}
		}
	}

	@media (max-width: 1199px) {
		b {
			&::before {
				height: 1px;
			}
		}
	}

	@media (max-width: 479px) {
		margin-right: 20px;
	}
}

.review-open:hover,
.review-open:focus {
	.review-open__text {
		b {
			color: var(--color-accent);
		}
	}
}
