.service-card {
	position: absolute;
	display: grid;
	grid-template-rows:
		minmax(max-content, 1fr)
		max-content
		max-content;
	overflow: hidden;
	width: 100%;
	height: 100%;

	&--number {
		grid-template-rows:
			max-content
			minmax(max-content, 1fr)
			max-content
			max-content;

		&::before {
			counter-increment: cards;
			content: counters(cards, "", decimal-leading-zero);
			justify-self: start;
			color: var(--color-alternate);
			opacity: .8;
		}
	}

	@media (min-width: 1200px) {
		@include adaptive("padding", 20);
		@include adaptive("border-radius", 2);

		&--number {
			&::before {
				@include adaptive("margin-bottom", 16);
			}
		}
	}

	@media (max-width: 1199px) {
		border-radius: 2px;
		padding: 20px;

		&--number {
			&::before {
				margin-bottom: 16px;
			}
		}
	}
}

.service-card__title {
	display: flex;
	align-self: start;
	margin: 0;
	font-weight: 500;
	color: var(--color-alternate);

	a {
		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			z-index: 1;
			width: 100%;
			height: 100%;
		}
	}

	@media (min-width: 1200px) {
		@include adaptive("font-size", 24);
		@include adaptive("line-height", 32);
	}

	@media (max-width: 1199px) {
		font-size: 24px;
		line-height: 32px;
	}
}

.service-card__description {
	margin: 0 0 24px;
	color: var(--color-alternate);

	@media (min-width: 1200px) {
		@include adaptive("font-size", 16);
		@include adaptive("line-height", 24);
		@include adaptive("min-height", 72);
	}

	@media (max-width: 1199px) {
		min-height: 72px;
		font-size: 16px;
		line-height: 24px;
	}

	@media (max-width: 719px) {
		min-height: 60px;
		font-size: 12px;
		line-height: 20px;
	}

	@media (max-width: 599px) {
		min-height: auto;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
	}

	@media (max-width: 359px) {
		font-size: 12px;
		line-height: 20px;
	}
}

.service-card__more {
	position: relative;
	display: grid;
	align-items: center;
	justify-self: start;
	grid-template-columns: repeat(2, max-content);
	color: var(--color-caption);
	transition: color var(--theme-delay);

	&::before {
		content: "";
		position: relative;
		grid-column: 2/3;
		grid-row: 1/2;
		background: var(--color-caption);
		transition: width var(--theme-delay), background var(--theme-delay);
	}

	&::after {
		content: "";
		position: relative;
		grid-column: 2/3;
		grid-row: 1/2;
		background-image: url("../images/common/icon-more.svg");
		background-size: cover;
		background-repeat: no-repeat;
		transition:
			left var(--theme-delay),
			background-image var(--theme-delay);
	}

	@media (min-width: 1200px) {
		@include adaptive("font-size", 12);
		@include adaptive("grid-column-gap", 8);
		@include adaptive("line-height", 20);

		&::before {
			@include adaptive("width", 23);
			@include adaptive("height", 1);
		}

		&::after {
			@include adaptive("left", 20);
			@include adaptive("width", 5);
			@include adaptive("height", 8);
		}
	}

	@media (max-width: 1199px) {
		grid-column-gap: 8px;
		font-size: 12px;
		line-height: 20px;

		&::before {
			width: 23px;
			height: 1px;
		}

		&::after {
			left: 20px;
			width: 5px;
			height: 8px;
		}
	}
}

.service-card__background {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	overflow: hidden;
	width: 100%;
	height: 100%;

	&::before {
		content: "";
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 100%;
		background: var(--color-card-gradient);
	}

	img {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: transform 1s;
	}
}

.service-card:hover,
.service-card:focus-within {
	.service-card__more {
		color: var(--color-accent);

		&::before {
			background: var(--color-accent);
		}

		&::after {
			background-image: url("../images/common/icon-more-state.svg");
		}
	}

	.service-card__background {
		img {
			transform: scale(110%);
		}
	}

	@media (min-width: 1200px) {
		.service-card__more {
			&::before {
				@include adaptive("width", 47);
			}

			&::after {
				@include adaptive("left", 44);
			}
		}
	}

	@media (max-width: 1199px) {
		.service-card__more {
			&::before {
				width: 47px;
			}

			&::after {
				left: 44px;
			}
		}
	}
}
