.social {
	@include adaptive("width", 48);
	@include adaptive("height", 48);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background: var(--color-background);
	transition: background var(--theme-delay);

	svg {
		@include adaptive("width", 20);
		@include adaptive("height", 20);
		fill: var(--color-main);
		transition: fill var(--theme-delay);
	}

	&:hover,
	&:focus {
		background: var(--color-accent);

		svg {
			fill: var(--color-alternate);
		}
	}
}
