.tab-filter {
	@include adaptive("padding-top", 7);
	@include adaptive("padding-right", 11);
	@include adaptive("padding-bottom", 7);
	@include adaptive("padding-left", 11);
	@include adaptive("font-size", 12);
	@include adaptive("line-height", 20);
	@include adaptive("border-radius", 2);
	display: flex;
	align-items: center;
	justify-content: center;
	border: calc(1px + (1 * 3 - 1) * ((100vw - 1280px) / (3840 - 1280))) solid var(--color-decor);
	color: var(--color-secondary);
	background: transparent;
	transition: color var(--theme-delay), border-color var(--theme-delay);

	&:hover,
	&:focus {
		border-color: var(--color-button-secondary);
		color: var(--color-accent-secondary);
	}

	&--active {
		border-color: var(--color-button-secondary);
		color: var(--color-accent-secondary);

		&:hover,
		&:focus {
			border-color: var(--color-accent-secondary-state);
			color: var(--color-accent-secondary-state);
		}
	}

	@media (min-aspect-ratio: 20/9) {
		@include adaptive_2("padding-top", 7);
		@include adaptive_2("padding-right", 11);
		@include adaptive_2("padding-bottom", 7);
		@include adaptive_2("padding-left", 11);
		@include adaptive_2("font-size", 12);
		@include adaptive_2("line-height", 20);
		@include adaptive_2("border-radius", 2);
		border: calc(1px + (1 * 2 - 1) * ((100vw - 1280px) / (3840 - 1280))) solid var(--color-decor);
	}
}
