.theme-switcher {
	@include adaptive("padding", 2);
	@include adaptive("width", 32);
	@include adaptive("height", 16);
	@include adaptive("border-radius", 8);
	position: relative;
	display: flex;
	border: none;
	background: var(--color-switcher-background);
	transition: background var(--theme-delay);

	&:hover,
	&:focus {
		background: var(--color-switcher-background-state);
	}

	@media (min-aspect-ratio: 20/9) {
		@include adaptive_2("padding", 2);
		@include adaptive_2("width", 32);
		@include adaptive_2("height", 16);
		@include adaptive_2("border-radius", 8);
	}
}

.theme-switcher__icon {
	@include adaptive("width", 12);
	@include adaptive("height", 12);
	@include adaptive("top", 2);
	position: absolute;
	left: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	transform: translateX(-50%);
	transition:
		margin-left var(--theme-delay),
		background var(--theme-delay);

	@media (min-aspect-ratio: 20/9) {
		@include adaptive_2("width", 12);
		@include adaptive_2("height", 12);
		@include adaptive_2("top", 2);
	}
}

.theme-switcher__check {
	@include adaptive("width", 12);
	@include adaptive("height", 12);
	@include adaptive("top", 2);
	position: absolute;
	left: 50%;
	border-radius: 50%;
	background: var(--color-alternate);
	transform: translateX(-50%);
	transition: margin-left var(--theme-delay);

	@media (min-aspect-ratio: 20/9) {
		@include adaptive_2("width", 12);
		@include adaptive_2("height", 12);
		@include adaptive_2("top", 2);
	}
}

.theme-switcher--light {
	.theme-switcher__icon {
		@include adaptive("margin-left", -8);
		background-image: url("../images/common/icon-moon.svg");
	}

	.theme-switcher__check {
		@include adaptive("margin-left", 8);
	}

	@media (min-aspect-ratio: 20/9) {
		.theme-switcher__icon {
			@include adaptive_2("margin-left", -8);
			background-image: url("../images/common/icon-moon.svg");
		}

		.theme-switcher__check {
			@include adaptive_2("margin-left", 8);
		}
	}
}

.theme-switcher--dark {
	.theme-switcher__icon {
		@include adaptive("margin-left", 8);
		background-image: url("../images/common/icon-sun.svg");
	}

	.theme-switcher__check {
		@include adaptive("margin-left", -8);
	}

	@media (min-aspect-ratio: 20/9) {
		.theme-switcher__icon {
			@include adaptive_2("margin-left", 8);
		}

		.theme-switcher__check {
			@include adaptive_2("margin-left", -8);
		}
	}
}
