// Цвет
:root {
	--color-default-background: rgb(45 48 53);
	--color-main: rgb(255 255 255);
	--color-decor: rgb(255 255 255 / 30%);
	--color-secondary: rgb(255 255 255 / 40%);
	--color-background: rgb(49 52 56);
	--color-button-secondary: rgb(255 255 255);
	--color-switcher-background: rgb(255 255 255 / 20%);
	--color-header-background: linear-gradient(180deg, rgb(45 48 53) 0%, rgb(45 48 53 / 95%) 33%, rgb(45 48 53 / 60%) 56%, rgb(45 48 53 / 0%) 100%);
}
