:root {
	--color-whatsapp: rgb(0 230 118);
	--color-telegram: rgb(55 174 226);
	--color-alternate: rgb(255 255 255);
	--color-accent: rgb(238 62 75);
	--color-caption: rgb(255 255 255 / 50%);
	--color-card-gradient: linear-gradient(180deg, rgb(45 48 53 / 12%) 0%, rgb(45 48 53 / 12%) 60%, rgb(45 48 53) 100%);
}
