:root {
	--color-whatsapp: rgb(0 230 118);
	--color-whatsapp-state: rgb(7 199 105);
	--color-telegram: rgb(55 174 226);
	--color-telegram-state: rgb(35 136 180);
	--color-alternate: rgb(255 255 255);
	--color-accent: rgb(238 62 75);
	--color-accent-state: rgb(188 31 42);
	--color-caption: rgb(255 255 255 / 50%);
	--color-card-gradient: linear-gradient(180deg, rgb(45 48 53 / 12%) 0%, rgb(45 48 53 / 12%) 60%, rgb(45 48 53) 100%);
	--color-review-gradient: rgb(7 7 7 / 20%);
	--color-form-background: rgb(45 48 53);
	--color-form-button-background: rgb(82 86 92);
	--color-field-line: rgb(60 63 67);
	--color-field-placeholder: rgb(255 255 255 / 40%);
	--color-success: rgb(66 159 0);
}
