include ../tab-filter
include ../button
include ../projects/projects-data
include ../project-card

section.home-projects
	div.home-projects__container.container
		// боковая панель
		div.home-projects__aside
			// заголовок секции
			h2.home-projects__title.title Наши проекты
			// типы проектов
			ul.home-projects__types-list
				each item in projectsTypes
					li.home-projects__types-item
						+tabFilter(item)
			// открыть страницу портфолио
			+button('Показать еще проекты', false, true, 'index.html').home-projects__portfolio-open
		// проекты в портфолио
		ul.home-projects__card-list
			each card in projectsCards
				li.home-projects__card-item
					+projectCard(card)
		// открыть страницу портфолио (для мобильной версии)
		+button('Показать еще проекты', false, true, 'index.html').home-projects__mobile-portfolio-open
