div.policy.section
	div.policy__container.container
		div.policy__content
			h2 Официальное уведомление
			p Данное официальное уведомление размещено в дополнение к прочим официальным уведомлениям и заявлениям об ответственности, находящимся на интернет-сайте insky.digital либо включенным в состав помещенных на этом сайте документов. ООО "ИД" оставляет за собой право вносить любые изменения в данный текст без предварительного оповещения пользователей сайта.
			h2 Авторские права
			p Информация сайта insky.digital защищена законом об авторских правах. insky.digital предоставляет право посетителям сайта использовать опубликованные материалы в любых личных и некоммерческих целях. За исключением оговоренных ситуаций, воспроизведение (копирование) любых материалов сайта невозможно без прямого письменного разрешения со стороны ООО "ИД"
			h2 Лицензионные права
			p Информация, опубликованная на сайте insky.digital, не может быть воспринята как предоставление лицензионных прав на интеллектуальную собственность, принадлежащую ООО "ИД" либо третьим сторонам.
			h3 Содержание материалов
			p ООО "ИД" приняты все разумные меры к тому, чтобы обеспечить точность и актуальность размещенной на этом сайте информации, однако ее точность и полнота не могут быть гарантированы. ООО "ИД" оставляет за собой право вносить изменение в содержание материалов этого сайта в любое время по собственному усмотрению. Продукты или услуги, не относящиеся напрямую к ООО "ИД", упомянуты исключительно в информационных целях. Вся информация об ООО "ИД" и третьих сторонах на этом сайте представлена в том виде, в котором она существует в распоряжении ООО "ИД".
			strong ВСЕ МАТЕРИАЛЫ ДАННОГО САЙТА РАЗМЕЩЕНЫ НА НЕМ ИСКЛЮЧИТЕЛЬНО В ИНФОРМАЦИОННЫХ ЦЕЛЯХ И НЕ МОГУТ СЛУЖИТЬ ОСНОВАНИЕМ ДЛЯ ПРИНЯТИЯ КАКИХ-ЛИБО РЕШЕНИЙ. ЛЮБОЙ ПОЛЬЗОВАТЕЛЬ ОПУБЛИКОВАННОЙ НА ЭТОМ САЙТЕ ИНФОРМАЦИИ ВЫРАЖАЕТ СВОЕ СОГЛАСИЕ С ТЕМ, ЧТО ООО "ИД" НЕ НЕСЕТ ОТВЕТСТВЕННОСТЬ ЗА ТОЧНОСТЬ И ПОЛНОТУ ПРЕДСТАВЛЕННЫХ ДАННЫХ.
			p При любом развитии событий, в связи с возможностью/невозможностью использования ресурсов данного сайта, а также в связи с использованием третьими сторонами размещенных на сайте материалов и документов (включая информацию, появление которой на сайте произошло не по инициативе компании), ООО "ИД" не несет ответственность за какой-либо прямой, косвенный, случайный либо сопутствующий ущерб, в особенности, ущерб от упущенной выгоды, потери прибыльности, роста расходов, потери информации и т.п.
			h3 Торговые марки
			p Торговые марки, знаки, логотипы и т.п. (далее - "Торговые марки"), помещенные на данном сайте, являются собственностью ООО "ИД" и третьих сторон. Информация, опубликованная на сайте, не предоставляет никаких лицензионных прав на использование любых торговых марок без получения предварительного письменного согласия владельца.
			h3 Конфиденциальность
			h4 Какую информацию мы собираем?
			p Мы сохраняем идентифицируемую информацию, поступающую от вас, разными способами, включая данные, предоставляемые при заполнении форм и регистрации на сайте, при участии в конкурсах и других взаимодействиях с сайтом. Такие данные могут включать: имя, фамилию, адрес электронной почты, номер телефона. В момент сбора информации мы уведомляем вас, при каких обстоятельствах ваши данные могут быть сохранены нами до момента их удаления из наших баз. По вашему требованию информация в любой момент может быть удалена. Информация о посетителях сайта (IP-адрес, имя домена, тип браузера и операционная система, дата и время посещения и т. п.) собирается и сохраняется в целях ведения статистики посещений. Эта информация является общедоступной, таким образом, ООО "ИД" не несет ответственности за ее разглашение.
			h4 Что мы делаем с полученной информацией?
			p Эти данные могут быть использованы в маркетинговых целях, для сообщения вам оценки стоимости наших услуг; для рассылки вам новостей и информации об акциях, новинках и услугах ООО "ИД"; для персонализации сайта на основе вашей истории поиска и просмотров.
			p Во время заполнения форм обратной связи вам будет предложено выбрать, хотите ли вы получать такую информацию.
			p Полученные данные в обезличенном виде могут быть использованы для лучшего понимания потребностей клиентов компании ООО "ИД" и улучшения качества обслуживания.
			p Ваше согласие на получение рассылок от компании ООО "ИД" является добровольным, и вы можете в любое время изменить свой выбор или отказаться от дальнейшего получения вышеуказанной информации. Ниже мы расскажем подробнее, как это можно сделать.
			p Как аннулировать вашу информацию или внести в неё изменения? Мы будем посылать вам электронные и текстовые сообщения только в том случае, если вы дадите нам на это свое согласие. Вы можете в любое время попросить нас изменить или аннулировать ваши персональные данные в наших списках для рассылки.
			p Кроме того, вы также сможете отказаться от подписки на электронные сообщения в один клик – просто перейдите по ссылке в конце письма. В данном документе под словами ООО "ИД" и сайт insky.digital подразумевается юридическое лицо ООО "ИД"
			h4 Ссылки
			p Ссылки на другие (внешние) сайты размещены на этом сайте бесплатно. Информация с этих сайтов не является продолжением либо дополнением материалов insky.digital.
			h4 Действие законодательства
			p Поддержка данного сайта осуществляется из офиса ООО "ИД", расположенного в г. Москве, Российская Федерация. Все вопросы, касающиеся доступа пользователей к сайту и использования размещенной на нем информации, регулируются действующим законодательством Российской Федерации. Любые спорные вопросы, касающиеся использования сайта, должны рассматриваться в судебной инстанции соответствующей юрисдикции, а именно, в Московском городском арбитражном суде.
			h3 Прочее
			p Тут будет #[a(href="policy.html") ссылка]
			ol
				li Упорядоченный элемент
				li Упорядоченный элемент
				li Упорядоченный элемент
			ul
				li Неупорядоченный элемент
				li Неупорядоченный элемент
				li Неупорядоченный элемент
