div.cookies.cookies--hidden
	div.cookies__container.container
		p.cookies__text We use cookies to offer you a better experience, analyze traffic, and serve targeted advertisements. #[br] By continuing to use, you concent to the use of cookies in accordance with our #[a(href="policy.html") Privacy Policy].
		+button('Accept').cookies__close
