mixin logo(isHome)
	if (isHome)
		a.logo&attributes(attributes)
			img.logo__image(src="images/content/logo.svg", alt="Logo Insky")
			span.logo__text Insky Digital
	else
		a.logo(href="index.html")&attributes(attributes)
			img.logo__image(src="images/content/logo.svg", alt="Logo Insky")
			span.logo__text Insky Digital
