mixin logo(isHome)
	if (isHome)
		a.logo&attributes(attributes)
			img.logo__image(src="images/content/logo.svg", alt="Логотип Insky.digital")
			span.logo__text Insky.digital
	else
		a.logo(href="index.html")&attributes(attributes)
			img.logo__image(src="images/content/logo.svg", alt="Логотип Insky.digital")
			span.logo__text Insky.digital
