mixin logo(isHome)
	if (isHome)
		a.logo&attributes(attributes)
			img.logo(src="images/content/logo.svg", alt="Логотип Insky.digital")
			span Insky.digital
	else
		a.logo(href="index.html")&attributes(attributes)
			img.logo(src="images/content/logo.svg", alt="Логотип Insky.digital")
			span Insky.digital
