mixin reviewOpen()
	a.review-open(tabindex="0")&attributes(attributes)
		picture.review-open__picture
			source(media="(min-width: 2600px)", srcset="images/content/review-client@3x.webp", type="image/webp")
			source(media="(min-width: 1300px)", srcset="images/content/review-client@2x.webp", type="image/webp")
			source(media="(min-width: 2600px)", srcset="images/content/review-client@3x.jpg")
			source(media="(min-width: 1300px)", srcset="images/content/review-client@2x.jpg")
			source(srcset="images/content/review-client.webp", type="image/webp")
			img(src="images/content/review-client.jpg", alt="Фото клиента")
		span.review-open__text
			b Видео-отзывы
			b наших клиентов
