mixin reviewOpen()
	a.review-open(tabindex="0")&attributes(attributes)
		picture.review-open__picture
			source(srcset="images/content/review-client.webp", type="image/webp")
			img(src="images/content/review-client.jpg", alt="Фото клиента")
		span.review-open__text: b Видео-отзывы <br> наших клиентов
