mixin social(icon)
	a.social(class=`social social--${icon}`, href="index.html", aria-label=`Our ${icon}`)&attributes(attributes)
		svg(width="20", height="20", aria-hidden="true")
			use(xlink:href=`images/sprite.svg#${icon}`)
