mixin themeSwitcher()
	button.theme-switcher.theme-switcher--light(type="button")&attributes(attributes)
		span.visually-hidden Переключить на темную тему
		svg.theme-switcher__icon
		span.theme-switcher__check
