-
	const servicesCards = [
		{
			title: 'Аналитика <br> и автоматизация бизнеса',
			list: [
				{
					title: 'Websites <br> (Web Apps)',
					description: 'Scalable, robust, <br> secure web sites of any type <br> and complexity.',
					more: 'More info',
					background: 'service-background01',
				},
				{
					title: 'E-commerce',
					description: 'Unique solutions <br> from scratch, providing <br> full-cycle services.',
					more: 'More info',
					background: 'service-background02',
				},
			],
		},
		{
			title: 'Разработка сайтов <br> и мобильных приложений',
			list: [
				{
					title: 'Websites <br> (Web Apps)',
					description: 'Scalable, robust, <br> secure web sites of any type <br> and complexity.',
					more: 'More info',
					background: 'service-background01',
				},
				{
					title: 'E-commerce',
					description: 'Unique solutions <br> from scratch, providing <br> full-cycle services.',
					more: 'More info',
					background: 'service-background02',
				},
				{
					title: 'Mobile Apps',
					description: 'Rich experience in custom mobile apps development for iOS and Android.',
					more: 'More info',
					background: 'service-background03',
				},
				{
					title: 'Technologies <br> we use',
					description: `Coding expertise in Javascript (Vue.js) <br>
					and PHP (Laravel Framework) paired <br>
					with must-have soft skills.`,
					more: 'More info',
					background: 'service-background04',
				},
				{
					title: 'Popular CMS <br> (Content Management Systems)',
					description: `We have created over 120 projects <br>
					using Wordpress, Drupal, Joomla, <br>
					VirtueMart and OpenCart`,
					more: 'More info',
					background: 'service-background05',
				},
			],
		},
		{
			title: 'Продвижение и PR',
			list: [
				{
					title: 'Websites <br> (Web Apps)',
					description: 'Scalable, robust, <br> secure web sites of any type <br> and complexity.',
					more: 'More info',
					background: 'service-background01',
				},
				{
					title: 'E-commerce',
					description: 'Unique solutions <br> from scratch, providing <br> full-cycle services.',
					more: 'More info',
					background: 'service-background02',
				},
				{
					title: 'Mobile Apps',
					description: 'Rich experience in custom mobile apps development for iOS and Android.',
					more: 'More info',
					background: 'service-background03',
				},
				{
					title: 'Technologies <br> we use',
					description: `Coding expertise in Javascript (Vue.js) <br>
					and PHP (Laravel Framework) paired <br>
					with must-have soft skills.`,
					more: 'More info',
					background: 'service-background04',
				},
			],
		},
	];
