include home-preview-data
include ../review-open
include ../button

section.home-preview.section
	div.home-preview__wrapper
		div.home-preview__container.container
			// заголовок секции
			h2.home-preview__title.title
				| Разработка сайтов, <br>
				| мобильные приложения, <br>
				| продвижение и PR
			// преимущества
			ul.home-preview__list
				each item in previewList
					li.home-preview__item!= item
			// открыть видео-отзывы
			+reviewOpen.home-preview__review-open
			// открыть модальное окно "проконсультироваться"
			+button('Получить оценку', true).home-preview__modal-open
	// открыть видео-отзывы (для мобильной версии)
	div.home-preview__review-container.container
		+reviewOpen.home-preview__mobile-review-open
