include home-preview-data
include ../review-open
include ../button

section.home-preview.section
	div.home-preview__container.container
		//- заголовок секции
		h2.home-preview__title.title
			| Web/Mobile #[br]
			| Development Company
		//- преимущества
		ul.home-preview__list
			each item in previewList
				li.home-preview__item!= item
		//- открыть видео-отзывы
		+reviewOpen.home-preview__review-open
		//- открыть модальное окно "проконсультироваться"
		+button('Get a Quote', true).home-preview__modal-open.advisory-open
		+reviewOpen.home-preview__mobile-review-open.video-open
