-
	const projectsTypes = [
		'Интернет-магазины',
		'Сайты для бизнеса',
		'Порталы',
		'Промо-сайты',
		'Лендинги',
		'Продвижение',
		'Лендинги',
	];

-
	const projectsCards = [
		{
			title: 'Интернет-магазин <br> женской одежды <br> премиум-класса',
			logo: '',
			background: '',
		},
		{
			title: 'Сайт компании пассажирских перевозок',
			logo: '',
			background: '',
		},
		{
			title: 'Интернет-магазин <br> женской одежды',
			logo: '',
			background: '',
			addons: ['видео-разбор'],
		},
		{
			title: 'Сайт для юридической компании',
			logo: '',
			background: '',
		},
		{
			title: 'Лендинг дистрибьютора оборудования',
			logo: '',
			background: '',
		},
		{
			title: 'Разработка портала программы лояльности',
			logo: '',
			background: '',
		},
	];
