-
	const projectsTypes = [
		'E-commerce',
		'Business solutions',
		'Web-portals',
		'Promo-sites',
		'Landings',
		'SEO',
	];

-
	const projectsCards = [
		{
			title: 'Custom CRM-system for dental clinics network in Latvia',
			logo: 'project-logo01',
			background: 'project-background01',
		},
		{
			title: 'Guided motorcycle tours and offroad training website',
			logo: 'project-logo02',
			background: 'project-background02',
		},
		{
			title: 'Mobile App for traffic rules studying',
			logo: 'project-logo03',
			background: 'project-background03',
		},
		{
			title: 'Website for the hotel on the coast of the Indian Ocean',
			logo: 'project-logo04',
			background: 'project-background04',
		},
		{
			title: 'Crypto currency exchange platform',
			logo: 'project-logo05',
			background: 'project-background05',
		},
		{
			title: 'Web App for surveying equipment management',
			logo: 'project-logo06',
			background: 'project-background06',
		},
	];
