-
	const projectsTypes = [
		'Интернет-магазины',
		'Сайты для бизнеса',
		'Порталы',
		'Промо-сайты',
		'Лендинги',
		'Продвижение',
		'Лендинги',
	];

-
	const projectsCards = [
		{
			title: 'Интернет-магазин <br> женской одежды <br> премиум-класса',
			logo: 'project-logo01',
			background: 'project-background01',
		},
		{
			title: 'Сайт компании пассажирских перевозок',
			logo: 'project-logo02',
			background: 'project-background02',
		},
		{
			title: 'Интернет-магазин <br> женской одежды',
			logo: 'project-logo03',
			background: 'project-background03',
			addons: ['видео-разбор'],
		},
		{
			title: 'Сайт для юридической компании',
			logo: 'project-logo04',
			background: 'project-background04',
		},
		{
			title: 'Лендинг дистрибьютора оборудования',
			logo: 'project-logo05',
			background: 'project-background05',
		},
		{
			title: 'Разработка портала программы лояльности',
			logo: 'project-logo06',
			background: 'project-background06',
		},
	];
