div.not-found
	div.not-found__container.container
		span.not-found__404 404
		p.not-found__text.
			Извините, но запрашиваемая вами страница недоступна. Проверьте правильность адреса,
			возможно вы ввели неправильные символы.
		a.not-found__link(href="index.html") Вернуться на главную страницу
