div.not-found
	div.not-found__container.container
		span.not-found__404 404
		p.not-found__text The page you are looking for does not exist. #[br] There is nothing to see here.
		a.not-found__link(href="index.html") Back to Homepage
		div.not-found__background
