-
	const navLinks = [
		{ name: 'Portfolio', href: 'index.html' },
		{ name: 'Services and Technology', href: 'index.html' },
		{ name: 'Testimonials', href: 'index.html' },
		{ name: 'Team', href: 'index.html' },
		{ name: 'Contacts', href: 'index.html' },
		{ name: 'Web Development', href: 'index.html' },
		{ name: 'Mobile Development', href: 'index.html' },
		{ name: 'Branding & Design', href: 'index.html' },
		{ name: 'Dedicated Teams', href: 'index.html' },
		{ name: 'Digital Support', href: 'index.html' },
	];

-
	const addresses = [
		{ name: 'Riga', address: 'Pulkveža Brieža iela 6 - 1, Rīga, LV-1010' },
		{ name: 'Amsterdam', address: 'Pulkveža Brieža iela 6 - 1, Rīga, LV-1010' },
		{ name: 'Valencia', address: 'Pulkveža Brieža iela 6 - 1, Rīga, LV-1010' },
	];
