-
	const navLinks = [
		{ name: 'Portfolio', hrefIndex: '#projects', href: 'index.html#projects' },
		{ name: 'Services and Technology', hrefIndex: '#services', href: 'index.html#services' },
		{ name: 'Testimonials', hrefIndex: '', href: '', modal: 'video-open' },
		{ name: 'Team', hrefIndex: '#team', href: 'index.html#team' },
		{ name: 'Contacts', hrefIndex: 'contacts.html', href: 'contacts.html' },
		{ name: 'Web Development', hrefIndex: 'index.html', href: 'index.html' },
		{ name: 'Mobile Development', hrefIndex: 'index.html', href: 'index.html' },
		{ name: 'Branding & Design', hrefIndex: 'index.html', href: 'index.html' },
		{ name: 'Dedicated Teams', hrefIndex: 'index.html', href: 'index.html' },
		{ name: 'Digital Support', hrefIndex: 'index.html', href: 'index.html' },
	];

-
	const addresses = [
		{ name: 'Rīga, Latvija', address: 'Pulkveža Brieža iela 6 - 1, Rīga, LV-1010' },
		{ name: 'Amsterdam', address: 'Pulkveža Brieža iela 6 - 1, Rīga, LV-1010' },
		{ name: 'Torrevieja, Alicante, España', address: 'C. Fotógrafos Darblade, 10, Entreplanta, 03181' },
		{ name: 'Nikolayev, Ukraine', address: 'Central Avenue, 6a' },
	];
