-
	const navLinks = [
		{ name: 'Портфолио', href: 'index.html' },
		{ name: 'Услуги', href: 'index.html' },
		{ name: 'Наши цены', href: 'index.html' },
		{ name: 'Кто мы?', href: 'index.html' },
		{ name: 'Команда', href: 'index.html' },
		{ name: 'Контакты', href: 'index.html' },
		{ name: 'Внедрение Битрикс24', href: 'index.html' },
		{ name: 'Поддержка 1С', href: 'index.html' },
		{ name: 'Сайты для бизнеса', href: 'index.html' },
		{ name: 'Мобильные приложения', href: 'index.html' },
		{ name: 'Техническая поддержка', href: 'index.html' },
		{ name: 'SEO-продвижение', href: 'index.html' },
	];

-
	const addresses = [
		{ name: 'Москва', address: 'ул. Б. Новодмитровская, д. 36, стр. 12, <br> дизайн-завод «Флакон»' },
		{ name: 'Минск', address: 'ул. Сурганова, д. 43, офис 804, <br> бизнес-центр «Соло»' },
		{ name: 'Рига', address: 'Pulkveža Brieža iela 6 - 1, Rīga, LV-1010' },
	];
