div.modal__content.modal__content--opened.modal-advisory.modal-advisory--opened
	p.modal__title.modal-advisory__title Проконсультироваться
	form.modal-advisory__form
		+fieldName('modal-advisory').modal-advisory__name
		+fieldPhone('modal-advisory').modal-advisory__phone
		+fieldEmail('modal-advisory').modal-advisory__email
		+fieldMessage('modal-advisory').modal-advisory__message
		+fieldFile('modal-advisory', 0).modal-advisory__file
		div.modal__files
			div.modal__file
				span.modal__file-text(id="file-0") Техническое задание
				button.modal__file-close(type="button", aria-controls="file-0")
					span.visually-hidden Закрыть
					span.modal__file-icon
			div.modal__file
				span.modal__file-text(id="file-0") Портфолио
				button.modal__file-close(type="button", aria-controls="file-0")
					span.visually-hidden Закрыть
					span.modal__file-icon
			div.modal__file
				span.modal__file-text(id="file-0") Обсуждения
				button.modal__file-close(type="button", aria-controls="file-0")
					span.visually-hidden Закрыть
					span.modal__file-icon
			div.modal__file
				span.modal__file-text(id="file-0") Техническое задание
				button.modal__file-close(type="button", aria-controls="file-0")
					span.visually-hidden Закрыть
					span.modal__file-icon
			div.modal__file
				span.modal__file-text(id="file-0") Портфолио
				button.modal__file-close(type="button", aria-controls="file-0")
					span.visually-hidden Закрыть
					span.modal__file-icon
			div.modal__file
				span.modal__file-text(id="file-0") Обсуждения
				button.modal__file-close(type="button", aria-controls="file-0")
					span.visually-hidden Закрыть
					span.modal__file-icon
		div.modal__wrapper.modal-advisory__wrapper
			+fieldConsent('modal-advisory').modal__consent
			+button('Перезвоните мне', false, false, false, true).modal__submit
