div.modal__content.modal-advisory
	p.modal__title.modal-advisory__title
		| Drop us a line and we’ll get back to you within a business day.
	form.modal-advisory__form.form.form--files(action="send.php", novalidate)
		+fieldName('modal-advisory').modal-advisory__name
		+fieldPhone('modal-advisory').modal-advisory__phone
		+fieldEmail('modal-advisory').modal-advisory__email
		+fieldMessage('modal-advisory').modal-advisory__message
		div.modal-advisory__inputs-wrap
			+fieldFile('modal-advisory', 11).modal-advisory__file
			+fieldFile('modal-advisory', 10).modal-advisory__file
			+fieldFile('modal-advisory', 9).modal-advisory__file
			+fieldFile('modal-advisory', 8).modal-advisory__file
			+fieldFile('modal-advisory', 7).modal-advisory__file
			+fieldFile('modal-advisory', 6).modal-advisory__file
			+fieldFile('modal-advisory', 5).modal-advisory__file
			+fieldFile('modal-advisory', 4).modal-advisory__file
			+fieldFile('modal-advisory', 3).modal-advisory__file
			+fieldFile('modal-advisory', 2).modal-advisory__file
			+fieldFile('modal-advisory', 1).modal-advisory__file
			+fieldFile('modal-advisory', 0).modal-advisory__file
		div.modal-advisory__files
		div.modal__wrapper.modal-advisory__wrapper
			+fieldConsent('modal-advisory').modal__consent
			+button('Agree & send', false, false, false, true).modal__submit
