div.modal__content.modal-success
	p.modal__title.modal-success__title Ваша заявка принята!
	p.modal__text.modal-success__text Наш менеджер свяжется с вами в ближайшее время
	span.modal-success__icon(aria-hidden="true")
