div.modal__content.modal-success
	p.modal__title.modal-success__title Message received!
	p.modal__text.modal-success__text We'll get back to you within a business day.
	span.modal-success__icon(aria-hidden="true")
