include home-services-data
include ../service-card

section.home-services.section
	div.home-services__container.container
		// боковая панель
		div.home-services__aside.aside
			// заголовок секции
			h2.home-services__title.title Услуги
			// информация
			p.home-services__text-first
				b У вас уже есть описание #[br] или техническое задание?
			p.home-services__text-secondary Мы оценим в течение 1 рабочего дня и сообщим стоимость.
			// открыть модальное окно "проконсультироваться"
			+button('Прислать ТЗ').home-services__modal-open.advisory-open
		// услуги
		ul.home-services__cards
			each card in servicesCards
				li.home-services__card
					+serviceCard(card).service-card--number
