-
	const servicesCards = [
		{
			title: 'Сайты для <br> бизнеса',
			description: 'От одностраничных <br> лендингов до сложных <br> веб-порталов',
			more: 'Узнать подробнее',
			background: '',
		},
		{
			title: 'E-commerce',
			description: 'Современные B2B <br> и B2C решения для <br> онлайн-бизнеса',
			more: 'Больше информации',
			background: '',
		},
		{
			title: 'Мобильные <br> приложения',
			description: 'Разработка <br> приложений для платформ IOS и Android',
			more: 'Подробнее',
			background: '',
		},
		{
			title: 'Техническая <br> поддержка проектов',
			description: `Берем на поддержку сайты, интернет-магазины, порталы и мобильные приложения.
			Редизайн <br> и доработка существующих проектов.`,
			more: 'Как мы работаем',
			background: '',
		},
		{
			title: 'Продвижение <br> и PR',
			description: `Погружение в ваш бизнес, анализ сильных и <br> слабых сторон,
			разработка стратегии продвижения и борьбы с конкурентами в digital-среде`,
			more: 'Узнать подробнее',
			background: '',
		},
		{
			title: 'Айдентика <br> и дизайн',
			description: 'От логотипов <br> до бренд-буков <br> и полиграфии',
			more: 'Узнать больше',
			background: '',
		},
		{
			title: 'Внедрение <br> и поддержка <br> Битрикс24',
			description: 'Автоматизируем <br> бизнес-процессы, интегрируем CRM, обучаем персонал',
			more: 'Подробнее',
			background: '',
		},
		{
			title: 'Поддержка 1C',
			description: 'Настроим и доработаем продукты 1С используя стандарты системы',
			more: 'Проконсультироваться',
			background: '',
		},
	];
