mixin serviceAdvantages(advantages)
	section.service-advantages.section
		div.service-advantages__container.container
			ul.service-advantages__list
				each advantage in advantages
					li.service-advantages__item!=advantage
