-
	const service01 = {
		preview: {
			title: 'Поддержка сайтов',
			crumb: 'Поддержка сайтов',
			subTitle: `От мониторинга до полноценного развития
			и антивирусной защиты`,
			background: 'service-preview-background01',
		},
		advantages: [
			`<strong>15+</strong>
			<span>лет мы разрабатываем сайты</span>`,
			`<strong>20000+</strong>
			<span>часов опыта с 1C-битрикс и другими популярными CMS</span>`,
			`<strong>500+</strong>
			<span>сайтов было создано и запущено нами</span>`,
		],
		aside: {
			bigText: `Любому современному бизнесу жизненно необходим сайт`,
			text: `Он обеспечивает узнаваемость вашего бренда, делает прямые продажи и множество других важных
			функций. Мы предлагаем профессиональные услуги по созданию сайтов разного уровня сложности.`,
			image: 'images/common/service-aside-image01.svg',
		},
		rates: {
			title: 'Наши тарифы',
			rateList: [
				{
					title: `Депозит`,
					description: `Идеальный вариант для выполнения разовых работ без регулярного потока задач`,
					cost: `от 1800 ₽/час`,
					offerList: [
						{
							title: `Хранение доступов`,
							status: true,
						},
						{
							title: `Персональный менеджер`,
							status: true,
						},
						{
							title: `Отчетность в ЛК`,
							status: true,
						},
						{
							title: `Контроль продлений`,
							status: false,
						},
						{
							title: `Антивирусная защита`,
							status: false,
						},
						{
							title: `Мониторинг работы сайта`,
							status: false,
						},
						{
							title: `Резервное копирование`,
							status: false,
						},
					],
				},
				{
					title: `Космический`,
					description: `Идеальный вариант для постоянного контроля за сайтом`,
					cost: `от 2000 ₽/час`,
					offerList: [
						{
							title: `Хранение доступов`,
							status: true,
						},
						{
							title: `Персональный менеджер`,
							status: true,
						},
						{
							title: `Отчетность в ЛК`,
							status: true,
						},
						{
							title: `Контроль продлений`,
							status: true,
						},
						{
							title: `Антивирусная защита`,
							status: true,
						},
						{
							title: `Мониторинг работы сайта`,
							status: false,
						},
						{
							title: `Резервное копирование`,
							status: false,
						},
					],
				},
				{
					title: `Абонемент`,
					description: `Идеальный вариант для выполнения регулярных работ с постоянным потоком задач`,
					cost: `от 2200 ₽/час`,
					offerList: [
						{
							title: `Хранение доступов`,
							status: true,
						},
						{
							title: `Персональный менеджер`,
							status: true,
						},
						{
							title: `Отчетность в ЛК`,
							status: true,
						},
						{
							title: `Контроль продлений`,
							status: true,
						},
						{
							title: `Антивирусная защита`,
							status: true,
						},
						{
							title: `Мониторинг работы сайта`,
							status: true,
						},
						{
							title: `Резервное копирование`,
							status: true,
						},
					],
				},
			],
			serviceTitles: [
				'Хранение доступов',
				'Персональный менеджер',
				'Отчетность в ЛК',
				'Контроль продлений',
				'Антивирусная защита',
				'Мониторинг работы сайта',
				'Резервное копирование',
			],
		},
		about: {
			title: 'Как мы <br> работаем',
			list: [
				{
					title: `Время реакции на запрос — до 1 часа`,
					content: `<p>Отлаженные процессы работы и распределения
					обязанностей, позволяют нам гарантировать скорость реакции
					на обращение в отдел поддержки — до 1 часа.</p>`,
					image: `service-about-image01-1`,
					isVideo: true,
				},
				{
					title: `Персональный менеджер`,
					content: `<p>За поддержку сайта отвечает персональный
					менеджер. Он контролирует качество и сроки
					работы, предоставляет отчётность и является контактным лицом по всем оперативным вопросам,
					в режиме доступа по почте и телефону в рабочие
					дни с 10 до 19 часов.</p>`,
					image: `service-about-image01-2`,
					isVideo: false,
				},
				{
					title: `Личный кабинет и система отчётности`,
					content: `<p>Предоставляем персональный доступ в личный
					кабинет, где клиент может поставить новые задачи, отследить
					статус текущих задач, посмотреть отчётность по выполненным
					работам за любой период, баланс доступных часов и другую
					информацию.</p>`,
					image: `service-about-image01-3`,
					isVideo: false,
				},
			],
		},
		offers: {
			title: 'Услуги',
			description: `Кроме создания сайтов мы готовы помочь в доработке проектов или подключении отдельных функций.`,
			list: [
				{
					title: `Мониторинг сайта 24/7`,
					description: `Настройка оформления шаблона`,
					cost: `от 8000₽`,
					href: `index.html`,
					icon: `service-offer-icon01-1`,
				},
				{
					title: `Перенос сайта на другой хостинг`,
					description: `Оплата покупок прямо на сайте`,
					cost: `от 8000₽`,
					href: `index.html`,
					icon: `service-offer-icon01-2`,
				},
				{
					title: `Переход на HTTPS`,
					description: `Автоматизация и контроль продажи`,
					cost: `от 40000₽`,
					href: `index.html`,
					icon: `service-offer-icon01-3`,
				},
				{
					title: `Контроль версий (GIT)`,
					description: `Стоимость 1 часа работы специалиста`,
					cost: `2000₽`,
					href: `index.html`,
					icon: `service-offer-icon01-4`,
				},
				{
					title: `Тестирование`,
					description: `Интеграция с популярными сервисами`,
					cost: `от 8000₽`,
					href: `index.html`,
					icon: `service-offer-icon01-5`,
				},
				{
					title: `Юзабилити-аудит сайта`,
					description: `Автоматизация процесса прохождения заказа`,
					cost: `от 25000₽`,
					href: `index.html`,
					icon: `service-offer-icon01-6`,
				},
				{
					title: `Технический аудит сайта`,
					description: `Стоимость 1 часа работы специалиста`,
					cost: `2000₽`,
					href: `index.html`,
					icon: `service-offer-icon01-7`,
				},
				{
					title: `Антивирус`,
					description: `Интеграция с популярными сервисами`,
					cost: `от 8000₽`,
					href: `index.html`,
					icon: `service-offer-icon01-8`,
				},
				{
					title: `Юзабилити-аудит сайта`,
					description: `Автоматизация процесса прохождения заказа`,
					cost: `от 25000₽`,
					href: `index.html`,
					icon: `service-offer-icon01-9`,
				},
			],
		},
	};
