include ../field
include ../button

section.service-form.section
	div.service-form__container.container
		div.service-form__wrapper
			h2.service-form__title.title Остались вопросы или нужна поддержка существующего проекта?
			form.service-form__form.form
				+fieldName('service-recall').service-form__name
				+fieldPhone('service-recall').service-form__phone
				+fieldEmail('service-recall').service-form__email
				div.service-form__form-wrapper
					+fieldConsent('service-recall').service-form__consent
					+button('Agree & send', false, false, false, true).service-form__submit
