include ../logo
include ../theme-switcher
include ../social-accent
include ../button

header.header
	div.header__container.container
		div.header__right-wrap
			button.header__main-nav-toggle(type="button", aria-expanded="false", aria-controls="main-nav", aria-label="Toggle menu")
				span
				span
				span
			+logo(isHome).header__logo
			+themeSwitcher.header__theme-switcher
			a.header__phone-icon(href=`tel:${phoneHref}`)
				span.visually-hidden!= phoneName
				svg(width="24", height="24", aria-hidden="true")
					use(xlink:href="images/sprite.svg#phone")
		div.header__left-wrap
			include main-nav
			div.header__contacts
				+socialAccent('whatsapp').header__social
				+socialAccent('telegram').header__social
				a.header__phone(href=`tel:${phoneHref}`)!= phoneName
			+button('Contact us').header__modal-open.recall-open
