-
	const servicesList = [
		{
			name: 'Аналитика <br> и автоматизация бизнеса',
			links: [
				{
					name: 'Внедрение и поддержка Битрикс24',
					href: 'index.html',
				},
				{
					name: 'Поддержка 1С',
					href: 'index.html',
				},
			],
		},
		{
			name: 'Разработка сайтов <br> и мобильных приложений',
			links: [
				{
					name: 'Сайты для бизнеса',
					href: 'index.html',
				},
				{
					name: 'E-commerce',
					href: 'index.html',
				},
				{
					name: 'Мобильные приложения',
					href: 'index.html',
				},
				{
					name: 'Техническая поддержка проектов',
					href: 'index.html',
				},
				{
					name: 'Айдентика и дизайн',
					href: 'index.html',
				},
			],
		},
		{
			name: 'Продвижение и PR',
			links: [
				{
					name: 'Продвижение по позициям',
					href: 'index.html',
				},
				{
					name: 'Продвижение по трафику',
					href: 'index.html',
				},
				{
					name: 'Продвижение по вашим KPI',
					href: 'index.html',
				},
				{
					name: 'SEO-продвижение',
					href: 'index.html',
				},
			],
		},
	];

-
	const aboutLinks = [
		{
			name: 'Кто мы?',
			href: 'index.pug',
		},
		{
			name: 'Команда',
			href: 'index.pug',
		},
		{
			name: 'Контакты?',
			href: 'index.pug',
		},
	];
