-
	const servicesList = [
		{
			name: 'Design',
			links: [
				{
					name: 'UX/UI',
					href: 'index.html',
				},
				{
					name: 'Mobile Design',
					href: 'index.html',
				},
				{
					name: 'Web Design',
					href: 'index.html',
				},
				{
					name: 'Branding',
					href: 'index.html',
				},
			],
		},
		{
			name: 'Development',
			links: [
				{
					name: 'Web App Front-end Development',
					href: 'index.html',
				},
				{
					name: 'Web App Back-end Development',
					href: 'index.html',
				},
				{
					name: 'SPA Development',
					href: 'index.html',
				},
				{
					name: 'Mobile App Development',
					href: 'index.html',
				},
				{
					name: 'Quality Assurance',
					href: 'index.html',
				},
			],
		},
		{
			name: 'Support',
			links: [
				{
					name: 'Digital Consulting',
					href: 'index.html',
				},
				{
					name: 'Digital Support',
					href: 'index.html',
				},
				{
					name: 'Dedicated Teams',
					href: 'index.html',
				},
				{
					name: 'Remote Developers',
					href: 'index.html',
				},
			],
		},
		{
			name: 'Technologies',
			links: [
				{
					name: 'PHP (Laravel framework)',
					href: 'index.html',
				},
				{
					name: 'JavaScript (Vue.js)',
					href: 'index.html',
				},
				{
					name: 'Flutter',
					href: 'index.html',
				},
			],
		},
		{
			name: 'CMS',
			links: [
				{
					name: 'Wordpress',
					href: 'index.html',
				},
				{
					name: 'Drupal',
					href: 'index.html',
				},
				{
					name: 'Joomla',
					href: 'index.html',
				},
				{
					name: 'VirtueMart',
					href: 'index.html',
				},
				{
					name: 'OpenCart',
					href: 'index.html',
				},
			],
		},
	];

-
	const aboutLinks = [
		{
			name: 'Testimonials',
			href: 'index.pug',
		},
		{
			name: 'Team',
			href: 'index.pug',
		},
		{
			name: 'Contacts',
			href: 'index.pug',
		},
	];

-
	const languages = [
		{
			name: 'EN',
			href: 'index.html',
			isCurrent: true,
		},
		{
			name: 'NL',
			href: 'index.html',
		},
		{
			name: 'ES',
			href: 'index.html',
		},
	];
