-
	const processSteps = [
		{
			title: 'Dedicated Scrum-Team',
			text: `<p>A dedicated scrum team is a group of developers that work on a specific project.
			They are usually assembled with the skill set needed to complete the project.</p>
			<p>When you have your own team, you have more control over the time and tasks allocated to
			each developer. It also helps when you need to scale quickly for a specific project.</p>`,
		},
		{
			title: 'Remote Developers',
			text: `<p>Remote developers are becoming more and more popular in the software development industry.
			They are often used by companies that need to optimize development costs.</p>
			<p>But they are not just cheaper, they also have an edge over their onshore counterparts
			when it comes to creativity and innovation.</p>`,
		},
		{
			title: 'Managed Projects',
			text: `<p>Project management is an integral part of any business. It is a process that
			involves monitoring and controlling the work of the team to ensure that all tasks are
			completed on time and within budget.</p>
			<p>Our project managers have different levels of responsibility depending on the project,
			but they all have huge experience at budget planning, managing deadlines, and making sure
			there’s enough time for revisions.</p>`,
		},
		{
			title: 'UX/UI, Web and Mobile Design',
			text: `<p>As a technology company we design and create stunning, interactive and
			user-friendly websites and apps. We provide a range of services with a focus on UX/UI,
			Web and Mobile Design. With our qualified team of designers and developers, we can create
			your website or app in any platform you need.</p>`,
		},
		{
			title: 'Web/Mobile Development',
			text: `<p>The web and mobile development process starts with an idea for a product or
			service that needs to be developed into a tangible product or service. This idea will
			then be prototyped in order to get feedback on the viability of the idea before moving
			on to more costly stages in the process.</p>
			<p>The MVP (minimum viable product) phase will typically include just enough features
			to test whether there's a market for the product or service, while proof-of-concepts
			are often used as a way for startups.</p>`,
		},
		{
			title: 'Quality Assurance',
			text: `<p>Quality assurance is an important aspect of any project. It ensures that the quality
			of a product or service meets customer expectations and it can be used to find errors
			in the system. There are many different types of testing that can be done, but they all
			serve one purpose - to ensure that your product or service meets customer expectations.</p>`,
		},
	];
