include ../button

section.home-process.section
	div.home-process__container.container
		// боковая панель
		div.home-process__aside.aside
			// заголовок секции
			h2.home-process__title.title Процесс
			// открыть модальное окно "проконсультироваться"
			+button('Начать проект').home-process__modal-open.advisory-open
		// шаги процесса
		include home-process-steps
