include ../button

section.home-process.section
	div.home-process__container.container
		div.home-process__aside.aside
			h2.home-process__title.title How We Work
			+button('Lets\'s start!').home-process__modal-open.home-process__modal-open--main.advisory-open
		include home-process-steps
		+button('Lets\'s start!').home-process__modal-open.home-process__modal-open--secondary.advisory-open
