-
	const processSteps = [
		{
			title: 'Бизнес-анализ',
			text: `<p><b>Разработка дизайна</b> — это не просто создание красивой картинки,
			а способ передать главные смыслы вашего проекта с помощью понятных посетителю
			визуальных образов. Сайт или мобильное приложение должны мотивировать людей
			совершать действия, необходимые вам по их доброй воле.</p>`,
		},
		{
			title: 'Дизайн',
			text: `<p><b>Разработка дизайна</b> — это не просто создание красивой картинки,
			а способ передать главные смыслы вашего проекта с помощью понятных посетителю
			визуальных образов. Сайт или мобильное приложение должны мотивировать людей
			совершать действия, необходимые вам по их доброй воле.</p>`,
		},
		{
			title: 'Разработка',
			text: `<p><b>Разработка дизайна</b> — это не просто создание красивой картинки,
			а способ передать главные смыслы вашего проекта с помощью понятных посетителю
			визуальных образов. Сайт или мобильное приложение должны мотивировать людей
			совершать действия, необходимые вам по их доброй воле.</p>`,
		},
		{
			title: 'Тестирование',
			text: `<p><b>Разработка дизайна</b> — это не просто создание красивой картинки,
			а способ передать главные смыслы вашего проекта с помощью понятных посетителю
			визуальных образов. Сайт или мобильное приложение должны мотивировать людей
			совершать действия, необходимые вам по их доброй воле.</p>`,
		},
		{
			title: 'Запуск',
			text: `<p><b>Разработка дизайна</b> — это не просто создание красивой картинки,
			а способ передать главные смыслы вашего проекта с помощью понятных посетителю
			визуальных образов. Сайт или мобильное приложение должны мотивировать людей
			совершать действия, необходимые вам по их доброй воле.</p>`,
		},
		{
			title: 'Поддержка и продвижение',
			text: `<p><b>Разработка дизайна</b> — это не просто создание красивой картинки,
			а способ передать главные смыслы вашего проекта с помощью понятных посетителю
			визуальных образов. Сайт или мобильное приложение должны мотивировать людей
			совершать действия, необходимые вам по их доброй воле.</p>`,
		},
	];
