-
	const processSteps = [
		{
			title: 'Dedicated Scrum-Team',
			text: `<p><b>Разработка дизайна</b> — это не просто создание красивой картинки,
			а способ передать главные смыслы вашего проекта с помощью понятных посетителю
			визуальных образов. Сайт или мобильное приложение должны мотивировать людей
			совершать действия, необходимые вам по их доброй воле.</p>`,
		},
		{
			title: 'Remote Developers',
			text: `<p><b>Разработка дизайна</b> — это не просто создание красивой картинки,
			а способ передать главные смыслы вашего проекта с помощью понятных посетителю
			визуальных образов. Сайт или мобильное приложение должны мотивировать людей
			совершать действия, необходимые вам по их доброй воле.</p>`,
		},
		{
			title: 'Managed Projects',
			text: `<p><b>Разработка дизайна</b> — это не просто создание красивой картинки,
			а способ передать главные смыслы вашего проекта с помощью понятных посетителю
			визуальных образов. Сайт или мобильное приложение должны мотивировать людей
			совершать действия, необходимые вам по их доброй воле.</p>`,
		},
		{
			title: 'UX/UI, Web and Mobile Design',
			text: `<p><b>Разработка дизайна</b> — это не просто создание красивой картинки,
			а способ передать главные смыслы вашего проекта с помощью понятных посетителю
			визуальных образов. Сайт или мобильное приложение должны мотивировать людей
			совершать действия, необходимые вам по их доброй воле.</p>`,
		},
		{
			title: 'Web/Mobile Development',
			text: `<p><b>Разработка дизайна</b> — это не просто создание красивой картинки,
			а способ передать главные смыслы вашего проекта с помощью понятных посетителю
			визуальных образов. Сайт или мобильное приложение должны мотивировать людей
			совершать действия, необходимые вам по их доброй воле.</p>`,
		},
		{
			title: 'Quality Assurance',
			text: `<p><b>Разработка дизайна</b> — это не просто создание красивой картинки,
			а способ передать главные смыслы вашего проекта с помощью понятных посетителю
			визуальных образов. Сайт или мобильное приложение должны мотивировать людей
			совершать действия, необходимые вам по их доброй воле.</p>`,
		},
	];
