-
	const cities = [
		{
			title: 'Rīga, Latvija',
			address: 'Pulkveža Brieža iela 6 - 1, Rīga, LV-1010',
			links: {
				'tel:+74993507512': '+7 499 350 75 12',
			},
			lng: '56.959470',
			lat: '24.106012',
		},
		{
			title: 'Amsterdam, Netherlands',
			address: 'Pulkveža Brieža iela 6 - 1, Rīga, LV-1010',
			links: {
				'tel:+74993507512': '+7 499 350 75 12',
				'tel:+74993507512': '+7 499 350 75 12',
			},
			lng: '56.959470',
			lat: '24.106012',
		},
		{
			title: 'Torrevieja, Alicante, España',
			address: 'C. Fotógrafos Darblade, 10, Entreplanta, 03181',
			links: {
				'tel:+74993507512': '+7 499 350 75 12',
			},
			lng: '37.976622',
			lat: '-0.682980',
		},
		{
			title: 'Nikolayev, Ukraine',
			address: 'Central Avenue, 6a',
			//- links: {
			//- 	'tel:+74993507512': '+7 499 350 75 12',
			//- },
			lng: '46.969271',
			lat: '31.964322',
			isClosed: true,
		},
	];
