include ../field
include ../button

section.contacts-form.section
	div.contacts-form__container.container
		div.contacts-form__wrapper
			div.contacts-form__form-wrapper
				h2.contacts-form__title.title Написать директору
				form.contacts-form__form.form
					+fieldName('contacts-recall').contacts-form__name
					+fieldPhone('contacts-recall').contacts-form__phone
					+fieldMessage('contacts-advisory').contacts-form__message
					+fieldConsent('contacts-recall').contacts-form__consent
					+button('Agree & send', false, false, false, true).contacts-form__submit
			div.contacts-form__director
				figure.contacts-form__figure
					figcaption.contacts-form__figcaption
						span Дмитрий Кучинский
						span Генеральный директор Insky.digital
					picture.contacts-form__picture
						source(media="(min-width: 1300px)", srcset=`images/content/team-person01@3x.webp`, type="image/webp")
						source(media="(min-width: 1300px)", srcset=`images/content/team-person01@3x.png`)
						source(srcset=`images/content/team-person01@2x.webp`, type="image/webp")
						img(src=`images/content/team-person01@2x.png`, alt="Дмитрий Кучинский")
