-
	const cities = [
		{
			title: 'Москва',
			address: 'ул. Б. Новодмитровская, д. 16, стр. 12, дизайн-завод «Флакон»',
			links: {
				'tel:+74993507512': '+7 499 350 75 12',
			},
			lng: '55.755864',
			lat: '37.617698',
		},
		{
			title: 'Рига',
			address: 'ул. Б. Новодмитровская, д. 26, стр. 12, дизайн-завод «Флакон»',
			links: {
				'tel:+74993507512': '+7 499 350 75 12',
				'tel:+74993507512': '+7 499 350 75 12',
			},
			lng: '56.946845',
			lat: '24.106075',
		},
		{
			title: 'Москва',
			address: 'ул. Б. Новодмитровская, д. 36, стр. 12, дизайн-завод «Флакон»',
			links: {
				'tel:+74993507512': '+7 499 350 75 12',
			},
			lng: '55.755864',
			lat: '37.617698',
		},
		{
			title: 'Рига',
			address: 'ул. Б. Новодмитровская, д. 46, стр. 12, дизайн-завод «Флакон»',
			links: {
				'tel:+74993507512': '+7 499 350 75 12',
			},
			lng: '56.946845',
			lat: '24.106075',
		},
	];
