include ../social

section.contacts-info.section
	div.contacts-info__container.container
		div.contacts-info__wrapper
			h3.contacts-info__title Legal info
			span.contacts-info__text SIA "iMedia Solutions"
			span.contacts-info__text Reg. Nr. 40103845909
			span.contacts-info__text SEPA ID LV24ZZZ40103845909

		div.contacts-info__wrapper
			h3.contacts-info__title Legal address
			address.contacts-info__text
				| Latvija, Rīga #[br] Lāčplēša iela 14 - 10, LV-1011

		div.contacts-info__wrapper
			h3.contacts-info__title E-mail
			div.contacts-info__email-wrap
				a.contacts-info__email(href="mailto:info@insky.digital") info@insky.digital
				span.contacts-info__caption All inquiries
			div.contacts-info__email-wrap
				a.contacts-info__email(href="mailto:hr@insky.digital") hr@insky.digital
				span.contacts-info__caption Build career

		div.contacts-info__wrapper.contacts-info__wrapper--socials
			h3.contacts-info__title Our socials
			div.contacts-info__socials
				+social('facebook').contacts-info__social
				+social('instagram').contacts-info__social
				+social('telegram').contacts-info__social
				+social('whatsapp').contacts-info__social
